<div class="container my-4">
  <app-step-navigator 
		[pageStepTitle]="pageStepTitle" 
		[phaseTitle]="phaseTitle" 
		[stageTitle]="stageTitle" 
		[currentStep]="currentStep">
	</app-step-navigator>

  <p class="subtitle-activity">Order the quality problems by desired priority, with the first being the highest priority</p>


  <div class="flex-container">
    <div class="container-section">


    <div class="d-flex justify-content-center">
      <div class="w-100">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <table class="table ">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col" class="col-description">Data Quality Problem</th>
                <th scope="col" class="col-date">Date</th>
                <th scope="col" class="col-tipoprioridad">Priority</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let problem of problems; let i = index" cdkDrag>
                <td><i class="bi bi-grip-vertical"></i></td>
                <th scope="row">{{ problem.priority }}°</th>
                <td class="col-description">{{ problem.description }}</td>
                <td >{{ problem.date | date:'MMM dd HH:mm yyyy'}}</td>
                <td>
                  <select [(ngModel)]="problem.priority_type" class="select-short">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button (click)="saveOrder()" class="btn btn-dark btn-sm">Save order</button>
        </div>
      </div>
      
    </div>
    </div>
  </div>

  <!--<button class="btn btn-primary" (click)="confirmPriorities()">CONFIRMAR ORDEN</button>-->

  <div class="next-step-btn-container">
    <button (click)="saveOrder()" class="btn btn-dark btn-sm">Next ></button>
  </div>

</div>
