
.container {
  margin: auto;
  color: #222; 
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
}

.subtitle-description {
  font-size: 16px;
  font-style: italic;
}

table {
	font-size: 15px; 
}

.table tbody tr td {
  color: #222; 
}


th {
  font-weight: 500; 
}
.col-date {
	width: 30%;
}
.col-description {
	width: 50%;
}
/*.col-contexto {
	width: 32%;
	overflow: hidden; 
	text-overflow: ellipsis; 
}*/
.col-tipoprioridad {
	width: 10%;
}

.select-short {
	width: 100%;
	display: inline-block;
}

.select-short option {
	width: auto;
}

tr:hover {
	cursor: grab; 
}

select {
	cursor: auto; 
}

.title {
  font-size: 1.2rem;
  font-weight: black;
  font-style: italic;
}

.title-activity {
  font-size: 1.5rem;
	font-weight: lighter;
}

.subtitle-activity {
  font-size: 0.95rem;
  font-style: italic;
}

.text-center {
	text-align: center;
}

.my-4 {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}

.bi-grip-vertical {
	font-size: 1rem; 
}
.btn-remove {
	background-color: transparent;  
	border: none; 
	font-size: 1rem;  
	vertical-align: middle;  
}
.btn {
	font-size: 0.9rem;
  font-weight: 500;
  /*border-radius: 8px;*/
}

.btn-dark {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #111; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-dark:hover {
  background-color: #333; 
  border: 1px solid #333; 
}
/*.container-section {
	width: 98%;
  border: 1px solid #ddd; 
  background-color: #fff; 
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;  
}*/

.container-section {
	width: 100%;
  /*border: 1px solid #ddd; */
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff; 
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;  
}


.next-step-btn-container{
	display: flex;
  justify-content: flex-end; 
}

.flex-container {
  display: flex;
  justify-content: center;
}


.priority-list {
  min-height: 200px;
  border: 2px dashed #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 24px;
  overflow-y: auto; 
  height: 640px; 
}

.card {
  cursor: grab;
}

.card:active {
  cursor: grabbing;
}

.card-title{
  font-size: 15px; 
}

.priority-group-title{
  font-size: 17px; 
  font-weight: 700;
}

.empty-message {
  text-align: center;
  color: #666;
  font-style: italic;
  padding: 20px;
  font-size: 14px;
}

.empty-message i {
  margin-right: 8px;
  color: #888;
}

.form-select{
  font-size: 15px;
}