<div class="container my-4">
  <app-step-navigator 
		[pageStepTitle]="pageStepTitle" 
		[phaseTitle]="phaseTitle" 
		[stageTitle]="stageTitle" 
    [steps]="steps"
		[currentStep]="currentStep">
	</app-step-navigator>

  <p class="subtitle-activity">Order the quality problems by desired priority, with the first being the highest priority</p>

  <div class="flex-container"> 
    <div class="container-section ">
      <div class="py-4 px-4 me-3 d-flex justify-content-center">
        <div class="w-100">
          <ng-container cdkDropListGroup>
          <div class="row">
            <!-- High priority -->
            <div class="col-md-4">
              <h6 class="mb-3">High Priority</h6>
              <!--<p class="priority-group-title">High Priority</p>-->
              <!--<p class="priority-group-title">
                High Priority <span class="badge bg-danger rounded-pill">High</span>
              </p>-->
              <div
                cdkDropList
                id="high-priority"
                [cdkDropListData]="highPriorityProblems"
                [cdkDropListConnectedTo]="[mediumPriorityId, lowPriorityId]"
                (cdkDropListDropped)="drop($event)"
                class="priority-list"
              >
                <div>
                  <div *ngIf="highPriorityProblems.length === 0" class="empty-message">
                    <i class="bi bi-info-circle"></i> No high priority data quality problems.
                  </div>
                  <div *ngFor="let problem of highPriorityProblems" cdkDrag>
                    <div class="card mb-2">
                      <div class="card-body">
                        <h5 class="card-title">{{ problem.description }}</h5>
                        <p class="card-text">{{ problem.date | date:'MMM dd HH:mm yyyy' }} <span class="badge bg-danger rounded-pill mx-1">High</span></p>
                        <select [(ngModel)]="problem.priority"  (change)="onPriorityChange(problem)" class="form-select">
                          <option value="High">High</option>
                          <option value="Medium">Medium</option>
                          <option value="Low">Low</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            <!-- Medium priority -->
            <div class="col-md-4">
              <h6 class="mb-3">Medium Priority</h6>
              <!--<p class="priority-group-title">
                Medium Priority <span class="badge bg-warning rounded-pill">Medium</span>
              </p>-->
              <div
                cdkDropList
                id="medium-priority"
                [cdkDropListData]="mediumPriorityProblems"
                [cdkDropListConnectedTo]="[highPriorityId, lowPriorityId]"
                (cdkDropListDropped)="drop($event)"
                class="priority-list"
              >
                <div>
                  <div *ngIf="mediumPriorityProblems.length === 0" class="empty-message">
                    <i class="bi bi-info-circle"></i> No medium priority data quality problems.
                  </div>
                  <div *ngFor="let problem of mediumPriorityProblems" cdkDrag>
                    <div class="card mb-2">
                      <div class="card-body">
                        <h5 class="card-title">{{ problem.description }}</h5> 
                        <p class="card-text">{{ problem.date | date:'MMM dd HH:mm yyyy' }} <span class="badge bg-warning rounded-pill mx-1">Medium</span></p>
                        
                        <select [(ngModel)]="problem.priority"  (change)="onPriorityChange(problem)" class="form-select">
                          <option value="High">High</option>
                          <option value="Medium">Medium</option>
                          <option value="Low">Low</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            <!-- Low priority -->
            <div class="col-md-4">
              <h6 class="mb-3">Low Priority</h6>
              <!--<p class="priority-group-title">
                Low Priority <span class="badge bg-success rounded-pill">Low</span>
              </p>-->
              <div
                cdkDropList
                id="low-priority"
                [cdkDropListData]="lowPriorityProblems"
                [cdkDropListConnectedTo]="[highPriorityId, mediumPriorityId]"
                (cdkDropListDropped)="drop($event)"
                class="priority-list"
              >
                <div>
                  <div *ngIf="lowPriorityProblems.length === 0" class="empty-message">
                    <i class="bi bi-info-circle"></i> No low priority data quality problems.
                  </div>
                  <div *ngFor="let problem of lowPriorityProblems" cdkDrag>
                    <div class="card mb-2">
                      <div class="card-body">
                        <h5 class="card-title">{{ problem.description }}</h5>
                        <p class="card-text">{{ problem.date | date:'MMM dd HH:mm yyyy' }} <span class="badge bg-success rounded-pill mx-1">Low</span></p>
                        <select [(ngModel)]="problem.priority"  (change)="onPriorityChange(problem)" class="form-select">
                          <option value="High">High</option>
                          <option value="Medium">Medium</option>
                          <option value="Low">Low</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-start mb-3">
              <button (click)="savePrioritization()" class="btn btn-dark btn-sm">Save Prioritization</button>
            </div>

          </div>
          </ng-container>
        </div>
      </div>
    

      <!-- Problemas en tabla
        <div class="py-2 px-4 d-flex justify-content-center">
        <div class="w-100">
          <div cdkDropList (cdkDropListDropped)="drop($event)">
            <table class="table ">
              <thead>
                <tr>
                  <th scope="col" class="col-description">Data Quality Problem</th>
                  <th scope="col" class="col-date">Date</th>
                  <th scope="col" class="col-tipoprioridad">Priority</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let problem of prioritizedDQProblems; let i = index" cdkDrag>
                  <td class="col-description"><i class="bi bi-grip-vertical"></i> {{ problem.description }}</td>
                  <td >{{ problem.date | date:'MMM dd HH:mm yyyy'}}</td>
                  <td>
                    <select [(ngModel)]="problem.priority" class="select-short">
                      <option value="High">High</option>
                      <option value="Medium">Medium</option>
                      <option value="Low">Low</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div>
            <button (click)="saveChanges()" class="btn btn-dark btn-sm">Save order</button>
          </div>
        </div>

      
      </div>-->
    </div>
  </div>


  <div class="next-step-btn-container">
    <button (click)="nextStep()" class="btn btn-dark btn-sm">Next ></button>
  </div>

</div>

<app-stepper
  [currentStep]="currentStep"
  [totalSteps]="steps.length"
  [isNextStepEnabled]="isNextStepEnabled"
  (stepChange)="onStepChange($event)">
</app-stepper>