<div class="container my-4">
  <app-step-navigator 
		[pageStepTitle]="pageStepTitle" 
		[phaseTitle]="phaseTitle" 
		[stageTitle]="stageTitle" 
		[currentStep]="currentStep">
	</app-step-navigator>

  <p class="subtitle-activity">Order the quality problems by desired priority, with the first being the highest priority</p>


  <div class="flex-container">
    <div class="container-section">


    <div class="d-flex justify-content-center">
      <div class="w-100">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <table class="table ">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col" class="col-problema">Quality problem</th>
                <th scope="col" class="col-descripcion">Description</th>
                <!--<th scope="col" class="col-contexto">Componentes de Contexto asociados</th>-->
                <th scope="col" class="col-tipoprioridad">Priority</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let problem of problems; let i = index" cdkDrag>
                <td><i class="bi bi-grip-vertical"></i></td>
                <th scope="row">{{ problem.priority }}°</th>
                <td class="col-problema"><strong>{{ problem.name }}</strong></td>
                <td class="col-descripcion">{{ problem.description }}</td>
                <!--<td class="col-contexto">
                  <select (change)="addContextComponent(problem, $event)" class="select-short">
                    <option value="">Seleccionar Componentes de Contexto</option>
                    <option *ngFor="let context of contextComponents" [value]="context.id">
                      {{ context.id }}: {{ context.description }}
                    </option>
                  </select>
                  <ul style="list-style-type: none; padding-left: 0;">
                    <li *ngFor="let contextId of problem.contextcomp_related_to">
                      {{ contextId }}: {{ getContextDescription(contextId) }}
                      <button (click)="removeContextComponent(problem, contextId)" class="btn-remove"><i class="bi bi-x-lg"></i></button>
                    </li>
                  </ul>
                </td>-->
                <td>
                  <select [(ngModel)]="problem.priorityType" class="form-select">
                    <option value="Alta">High</option>
                    <option value="Media">Medium</option>
                    <option value="Baja">Low</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button (click)="saveOrder()" class="btn btn-dark btn-sm">Save order</button>
        </div>
      </div>
      
    </div>
    </div>
  </div>

  <div class="next-step-btn-container">
    <button (click)="saveOrder()" class="btn btn-dark btn-sm">Next ></button>
  </div>

</div>
