<div class="modal" [ngClass]="{ 'show': isOpen }" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-modal" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title mb-0">{{ title }}</h5>
        <button type="button" class="close" (click)="onClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p [innerHTML]="message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-sm btn-dark" (click)="onConfirm()">Confirm</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" [ngClass]="{ 'show': isOpen }"></div>