<div class="container">
  <app-step-navigator
    [pageStepTitle]="pageStepTitle"
    [phaseTitle]="phaseTitle"
    [stageTitle]="stageTitle"
    [steps]="steps"
    [currentStep]="currentStep">
  </app-step-navigator>

  <div>
    <p class="subtitle-description mt-4">DQ measurement is carried out by executing the DQ methods implemented for each DQ metric</p>
    <div class="flex-container">
      <div class="section-container">

        <!-- Spinner de carga -->
        <div *ngIf="isLoading" class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
        </div>

        <!-- Mensaje de error -->
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>

        <!-- Filtro de estado -->
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="statusFilter" class="form-label">Filter by Execution Status</label>
            <select id="statusFilter" class="form-select" [(ngModel)]="selectedStatus" (change)="filterMethods()">
              <option value="pending">Pending</option>
              <option value="completed">Completed</option>
              <option value="all">All Methods</option>
              
            </select>
          </div>
        </div>

        <!-- LIST APPLIED METHODS -->
        <div class="table-container">
          <table class="table table-hover">
            <thead class="thead-dark custom-thead">
              <tr>
                <!-- Checkbox para seleccionar/deseleccionar todos -->
                <th scope="col">
                  <input
                    type="checkbox"
                    [checked]="isAllSelected()"
                    (change)="toggleSelectAll($event)"
                  />
                </th>
                <!-- Encabezados con eventos de clic para ordenar -->
                <th scope="col" class="sortable-header" (click)="sortTable('dqMethod')">
                  DQ Method
                  <i class="bi" [ngClass]="{
                    'bi-caret-up-fill': sortColumn === 'dqMethod' && sortDirection === 'asc',
                    'bi-caret-down-fill': sortColumn === 'dqMethod' && sortDirection === 'desc',
                    'bi-filter': sortColumn !== 'dqMethod'
                  }"></i>
                </th>
                <th scope="col" class="sortable-header" (click)="sortTable('name')">
                  Applied DQ Method
                  <i class="bi" [ngClass]="{
                    'bi-caret-up-fill': sortColumn === 'name' && sortDirection === 'asc',
                    'bi-caret-down-fill': sortColumn === 'name' && sortDirection === 'desc',
                    'bi-filter': sortColumn !== 'name'
                  }"></i>
                </th>
                <th scope="col" class="sortable-header" (click)="sortTable('appliedTo')">
                  Applied to
                  <i class="bi" [ngClass]="{
                    'bi-caret-up-fill': sortColumn === 'appliedTo' && sortDirection === 'asc',
                    'bi-caret-down-fill': sortColumn === 'appliedTo' && sortDirection === 'desc',
                    'bi-filter': sortColumn !== 'appliedTo'
                  }"></i>
                </th>
                <th scope="col" class="sortable-header" (click)="sortTable('dqMetric')">
                  DQ Metric
                  <i class="bi" [ngClass]="{
                    'bi-caret-up-fill': sortColumn === 'dqMetric' && sortDirection === 'asc',
                    'bi-caret-down-fill': sortColumn === 'dqMetric' && sortDirection === 'desc',
                    'bi-filter': sortColumn !== 'dqMetric'
                  }"></i>
                </th>
                <th scope="col" class="sortable-header" (click)="sortTable('dqFactor')">
                  DQ Factor
                  <i class="bi" [ngClass]="{
                    'bi-caret-up-fill': sortColumn === 'dqFactor' && sortDirection === 'asc',
                    'bi-caret-down-fill': sortColumn === 'dqFactor' && sortDirection === 'desc',
                    'bi-filter': sortColumn !== 'dqFactor'
                  }"></i>
                </th>
                <th scope="col" class="sortable-header" (click)="sortTable('dqDimension')">
                  DQ Dimension
                  <i class="bi" [ngClass]="{
                    'bi-caret-up-fill': sortColumn === 'dqDimension' && sortDirection === 'asc',
                    'bi-caret-down-fill': sortColumn === 'dqDimension' && sortDirection === 'desc',
                    'bi-filter': sortColumn !== 'dqDimension'
                  }"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- Fila de ejemplo con checkbox -->
              <!--<tr *ngFor="let item of appliedDQMethods">-->
              <tr *ngFor="let item of filteredMethods">
                <!-- Checkbox para seleccionar items individuales -->
                <td>
                  <input
                    type="checkbox"
                    [checked]="item.selected"
                    (change)="toggleSelectItem(item)"
                    [disabled]="item.executionResult?.status === 'completed'"
                    [class.disabled-checkbox]="item.executionResult?.status === 'completed'"
                    
                  />
                </td>
                <!-- Celda con el DQ Method clickeable -->
                <td class="clickable-text" (click)="openMethodDetailsModal(item.methodBase)">
                  {{ item.dqMethod }}
                </td>
                <td>{{ item.name }}</td>
                <td><div *ngFor="let table of getAppliedToDisplay(item.appliedTo)" 
                  class="table-display">
               Table: {{ table.tableName }}<br>
               Columns: {{ table.columns.join(', ') }}
             </div></td>
                <td>{{ item.dqMetric }}</td>
                
                <td>{{ item.dqFactor }}</td>
                <td>{{ item.dqDimension }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Botón para ejecutar los métodos seleccionados -->
        <div class="mt-3">
          <button class="btn btn-sm btn-dark" (click)="executeSelectedMethods()">Execute</button>
        </div>

        <!-- Mostrar los métodos seleccionados y su progreso
        <div *ngIf="executingMethods.length > 0">
          <h4>Executing Methods:</h4>
          <ul>
            <li *ngFor="let method of executingMethods">
              <div>
                <strong>{{ method.dqMethod }}</strong>
                <span *ngIf="method.status === 'Executing'"> - Executing</span>
                <span *ngIf="method.status === 'Done'"> - Done</span>
                <span *ngIf="method.status === 'Failed'"> - Failed</span>
              </div>
              <div>
                Time elapsed: {{ method.timeElapsed }} seconds
              </div>
            </li>
          </ul>
        </div> -->

        <!-- Métodos en ejecución  -->
        <div *ngIf="executingMethods.length > 0" class="mt-4">
          <h5>Executing Methods</h5>
          <ul class="list-group">
            <li *ngFor="let method of executingMethods" class="list-group-item">
              <strong>{{ method.dqMethod }}</strong> - 
              <span>{{ method.status }}</span> -
              <span>{{ method.timeElapsed }}</span>
              <!-- Spinner de carga -->
              <div *ngIf="isLoading" class="text-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>     
        

      </div>
    </div>
  </div>
</div>

<!-- Modal para mostrar los detalles del método -->
<app-modal
  [isOpen]="isModalOpen"
  [title]="modalTitle"
  [message]="modalMessage"
  (close)="closeModal()">
  <div class="modal-body">
    <div *ngIf="methodDetails">
      <p><strong>Name:</strong> {{ methodDetails.name }}</p>
      <p><strong>Input Data Type:</strong> {{ methodDetails.inputDataType }}</p>
      <p><strong>Output Data Type:</strong> {{ methodDetails.outputDataType }}</p>
      <p><strong>Algorithm:</strong> {{ methodDetails.algorithm }}</p>
    </div>
    <div *ngIf="!methodDetails && !isLoading">
      <p>No details available for this method.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closeModal()">Close</button>
  </div>
</app-modal>


<app-stepper
  [currentStep]="currentStep"
  [totalSteps]="steps.length"
  [isNextStepEnabled]="isNextStepEnabled"
  (stepChange)="onStepChange($event)">
</app-stepper>