<div class="container my-4">
  <app-step-navigator 
    [pageStepTitle]="pageStepTitle" 
    [phaseTitle]="phaseTitle" 
    [stageTitle]="stageTitle" 
    [steps]="steps"
    [currentStep]="currentStep">
  </app-step-navigator>

  <!-- SECTION: Select DQ Methods -->
  <div>
    <p class="subtitle-description mt-4">Define DQ Methods for each DQ Metric</p>
    <div class="flex-container">
      <div class="suggested-section-container">
        <div class="dim-factor-selection-container">
          <div class="label-container">
            <!-- DQ Metric -->
            <div class="label">
              <label class="label-title">DQ Metric:</label>
              <span class="label-value d-flex align-items-center">
                <select 
                  class="form-select select-style" 
                  [(ngModel)]="selectedMetric"
                  (change)="onMetricSelected()"
                >
                  <option value="" disabled>Select existing</option>
                  <option *ngFor="let metric of allMetrics" [ngValue]="metric">
                    {{ metric.metric_name }}
                  </option>
                </select>
              </span>
            </div>

            <!-- Show Selected Metric -->
            <div *ngIf="selectedMetric !== null">
              <div class="label-container-selected py-2 px-4">
                <div class="label-selected">
                  <span class="label-name-selected">{{ selectedMetric.metric_name }}</span>
                </div>
                <div class="label-selected">
                  <label class="label-title-selected">Purpose:</label>
                  <span class="label-value-selected">{{ selectedMetric.baseAttr.purpose }}</span>
                </div>
                <div class="label-selected">
                  <label class="label-title-selected">Granularity:</label>
                  <span class="label-value-selected">{{ selectedMetric.baseAttr.granularity }}</span>
                </div>
                <div class="label-selected">
                  <label class="label-title-selected">Result domain:</label>
                  <span class="label-value-selected">{{ selectedMetric.baseAttr.resultDomain }}</span>
                </div>
                <div class="label-selected">
                  <label class="label-title-selected">Influenced by (Ctx. Components):</label>
                  <span class="label-value-selected">
                    <ul>
                      <li *ngFor="let category of getContextComponentCategories(selectedMetric.context_components)">
                        {{ formatCtxCompCategoryName(category) }}:
                        <ul>
                          <li *ngFor="let componentId of selectedMetric.context_components[category]">
                            <a href="javascript:void(0)" (click)="openContextComponentModal(category, componentId)">
                              {{ getFirstAttribute(category, componentId) }}
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>

            <!-- DQ Method (de Metrica elegida) -->
            <div class="label mt-2">
              <label class="label-title">DQ Method:</label>
              <span class="label-value d-flex align-items-center">
                <select 
                  class="form-select select-style" 
                  [(ngModel)]="selectedBaseDQMethod"
                  (change)="onMethodSelected()"
                >
                  <option value="" disabled>Select existing</option>
                  <option *ngFor="let method of selectedMetric?.baseMethods" [ngValue]="method">
                    {{ method.name }}
                  </option>
                </select>
                <button class="btn btn-light mx-2" (click)="openModalBase(selectedMetric)">Create</button>
              </span>
            </div>

            <!-- Show Selected Method -->
            <div *ngIf="selectedBaseDQMethod" class="label-container-selected py-2 px-4">
              <div class="label-selected">
                <span class="label-name-selected">{{ selectedBaseDQMethod.name }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Input data type:</label>
                <span class="label-value-selected">{{ selectedBaseDQMethod.inputDataType }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Output data type:</label>
                <span class="label-value-selected">{{ selectedBaseDQMethod.outputDataType }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Algorithm:</label>
                <span class="code-block">
                  <pre><code>{{ selectedBaseDQMethod.algorithm }}</code></pre>
                </span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Uses (Ctx. Components):</label>
                <span class="label-value-selected">
                  <div>
                    <ul>
                      <li *ngFor="let category of getContextComponentCategories(selectionCheckboxCtxComponents)">
                        {{ formatCtxCompCategoryName(category) }}:
                        <ul>
                          <li *ngFor="let component of getComponentsByCategory(selectionCheckboxCtxComponents, category)">
                            <a href="javascript:void(0)" (click)="openContextComponentModal(category, component.id)">
                              {{ component.value }}
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <button class="btn btn-light btn-sm mb-4" (click)="toggleCtxSelectionAccordionVisibility()">
                      <i *ngIf="!isEditingCtxComponents"></i>
                      <i *ngIf="isEditingCtxComponents" class="bi bi-eye-slash"></i>
                      {{ isEditingCtxComponents ? 'Hide' : 'Edit' }}
                    </button>
                  </div>
              
                  <div *ngIf="isEditingCtxComponents" class="ctx-selection-accordion-container">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                      <div *ngFor="let category of getSelectedCategories(); let i = index" class="accordion-item">
                        <h5 class="accordion-header" [id]="'panelsStayOpen-heading' + i">
                          <button
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#panelsStayOpen-collapse' + i"
                            [attr.aria-controls]="'panelsStayOpen-collapse' + i"
                            [attr.aria-expanded]="hasSelectedComponents(category) ? 'true' : 'false'"
                            [class.collapsed]="!hasSelectedComponents(category)"
                            style="padding: 0.1rem 0.9rem;"
                          >
                            {{ formatCtxCompCategoryName(category) }}
                          </button>
                        </h5>
                        <div
                          [id]="'panelsStayOpen-collapse' + i"
                          class="accordion-collapse collapse"
                          [class.show]="hasSelectedComponents(category)"
                          [attr.aria-labelledby]="'panelsStayOpen-heading' + i"
                        >
                          <div class="accordion-body">
                            <div *ngFor="let componentId of selectedMetric.context_components[category]" class="form-check">
                              <ng-container *ngIf="getComponentById(category, componentId) as component">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  [id]="'checkbox-' + category + '-' + component.id"
                                  [checked]="isComponentSelected(category, getFirstNonIdAttribute(component))"
                                  (change)="onCtxComponentsCheckboxChange(component.id, category, getFirstNonIdAttribute(component), $event)"
                                />
                                <label class="form-check-label" [for]="'checkbox-' + category + '-' + component.id">
                                  {{ getFirstNonIdAttribute(component) }}
                                </label>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </span>
              </div>

              <div class="label mt-2">
                <!--<button 
                  class="btn btn-dark" 
                  (click)="addMethodToDQModel(selectedMetric, selectedBaseDQMethod)"
                  [disabled]="!selectedBaseDQMethod"
                >
                  Add to DQ Model
                </button>-->
                <button 
                  class="btn btn-dark" 
                  (click)="openConfirmationModal(
                    'Add DQ Method to Model',
                    getAddMethodMessage(selectedBaseDQMethod),
                    'addMethodToDQModel',
                    selectedMetric,
                    selectedBaseDQMethod
                  )"
                  [disabled]="!selectedBaseDQMethod">
                  Add to DQ Model
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for Create Base Method -->
      <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalBaseOpen}" [style.display]="isModalBaseOpen ? 'block' : 'none'">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add new DQ Methods</h5>
              <button type="button" class="close" aria-label="Close" (click)="closeModalBase()">
                <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div [formGroup]="dqMethodForm" class="form-group"> 
                  <label for="name">Name</label>
                  <input type="text" id="name" formControlName="name" name="name" class="form-control" [value]="suggestion?.name || ''"/>
                </div>
                <div [formGroup]="dqMethodForm" class="form-group">
                  <label for="inputDataType">Input Data Type</label>
                  <input type="text" class="form-control" id="inputDataType" formControlName="inputDataType" name="inputDataType" [value]="suggestion?.inputDataType || ''"/>     
                </div>
                <div [formGroup]="dqMethodForm" class="form-group">
                  <label for="outputDataType">Output Data Type</label>
                  <input type="text" class="form-control" formControlName="outputDataType" id="outputDataType" name="outputDataType" [value]="suggestion?.outputDataType || ''"/>
                </div>
                <div [formGroup]="dqMethodForm" class="form-group">
                  <label for="algorithm">Algorithm</label>
                  <textarea id="algorithm" name="algorithm" formControlName="algorithm" rows="4" class="form-control" placeholder="Write your code!" [value]="suggestion?.algorithm || ''"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-info" (click)="generateNewSuggestion()" style="width: auto;" [disabled]="isLoading">
                <i class="bi bi-lightning"></i>
                <span *ngIf="!isLoading">Generate New</span>
                <span *ngIf="isLoading">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Generating...
                </span>
              </button>
              <button type="button" class="btn btn-sm btn-light" (click)="closeModalBase()">Cancel</button>
              <!--<button type="button" class="btn btn-sm btn-dark" (click)="addBaseMethod(selectedMetric)">Confirm</button>-->
              <button 
              type="button" 
              class="btn btn-sm btn-dark" 
              (click)="openConfirmationModal(
                'Create DQ Method',
                'Are you sure you want to create this DQ Method?',
                'createDQMethod',
                selectedMetric
              )"
              [disabled]="!dqMethodForm.valid">
              Confirm
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION: Define Applied DQ Methods -->
  <div>
    <p class="subtitle-description mt-4">Define Applied DQ Methods for each DQ Methods</p>
    <div class="flex-container">
      <div class="suggested-section-container">
        <div class="dim-factor-selection-container">
          <div class="label-container">
            <!-- DQ Method -->
            <div class="label mt-2">
              <label class="label-title">DQ Method:</label>
              <span class="label-value d-flex align-items-center">
                <select 
                  id="methodSelect" 
                  class="form-select select-style"
                  [(ngModel)]="selectedMethodDQModel" 
                  (change)="onMethodDQModelSelected()"
                >
                  <option value="" disabled>Select existing</option>
                  <option *ngFor="let method of allMethods" [value]="method.id">{{ method.method_name }}</option>
                </select>
              </span>
            </div>

            <!-- Show Selected Method -->
            <div *ngIf="selectedMethodDQModel" class="label-container-selected py-2 px-4">
              <div class="label-selected">
                <span class="label-name-selected">{{ selectedMethodDetails?.name }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Input data type:</label>
                <span class="label-value-selected">{{ selectedMethodDetails?.inputDataType }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Output data type:</label>
                <span class="label-value-selected">{{ selectedMethodDetails?.outputDataType }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Algorithm:</label>
                <span class="code-block">
                  <pre><code>{{ selectedMethodDetails?.algorithm }}</code></pre>
                </span>
              </div>
              <div class="label mt-2">
                <button 
                  class="btn btn-dark" 
                  [disabled]="!selectedMethodDQModel" 
                  (click)="openCreateAppliedMethodModal(selectedMethodDQModel)">
                  Define Applied Method
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal for Creating Applied DQ Method -->
  <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isCreateAppliedMethodModalOpen}" [style.display]="isCreateAppliedMethodModalOpen ? 'block' : 'none'">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Applied DQ Method</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeCreateAppliedMethodModal()">
            <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="appliedMethodForm">
            <div class="form-group">
              <label for="appliedMethodName">Name</label>
              <input
                type="text"
                id="appliedMethodName"
                formControlName="name"
                class="form-control"
                [placeholder]="selectedMethodObject ? selectedMethodObject.method_name + '...' : 'Enter the name of the applied method'"
              />
            </div>
            
            <div class="form-group">
              <label for="appliedMethodType">Type</label>
              <select
                id="appliedMethodType"
                formControlName="type"
                class="form-select"
                (change)="onTypeChange()"
              >
                <option value="Aggregated">Aggregated</option>
                <option value="Measurement">Measurement</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="appliedMethodGranularity">Granularity</label>
              <input
                type="text"
                id="appliedMethodGranularity"
                class="form-control"
                [value]="selectedMetricBaseDetails?.granularity || 'Not available'"
                readonly
              />
            </div>
          
            <div class="form-group">
              <label for="appliedMethodAppliedTo">Applied To</label>
              <select
                id="appliedMethodAppliedTo"
                formControlName="appliedTo"
                class="form-select"
                [multiple]="selectedMetricBaseDetails?.granularity?.toLowerCase() !== 'column'"
              >
                <option value="">Select an attribute</option>
                <option *ngFor="let option of dataColumnOptions" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="appliedMethodAlgorithm">Applied Algorithm</label>
              <textarea
                id="appliedMethodAlgorithm"
                formControlName="algorithm"
                rows="4"
                class="form-control"
                [placeholder]="selectedMethodObject ? selectedMethodObject.algorithm + '...' : 'Enter the algorithm implementation to execute the metric'"
              ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-light" (click)="closeCreateAppliedMethodModal()">Cancel</button>
          <button type="button" class="btn btn-sm btn-dark" (click)="createAppliedMethod()" [disabled]="appliedMethodForm.invalid">Create</button>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION: Show DQ Methods added to DQ Model -->
  <div>
    <p class="subtitle-description mt-4">DQ Methods added to DQ Model</p>
    <div class="flex-container">
      <div class="suggested-section-container">
        <div *ngIf="allMetrics && allMetrics.length">
          <div class="label-container-selected py-2 px-4">
            <div class="dqmodel-title">
              <span class="label-name-dqmodel">{{ currentDQModel.version }} (id: {{ project.dqmodel_version }})</span>
              <span *ngIf="currentDQModel.status === 'finished'" class="badge rounded-pill bg-dark">Finished</span>
              <span *ngIf="currentDQModel.status === 'draft'" class="badge rounded-pill bg-warning">Draft</span>
            </div>
            <div class="label-selected">
              <label class="label-title-selected">Creation date:</label>
              <span class="label-value-selected">{{ currentDQModel.created_at | date:'MMM dd HH:mm yyyy' }}</span>
            </div> 
            <div class="label-selected">
              <label class="label-title-selected">Context version:</label>
              <span class="label-value-selected">CtxA v1.0 (id: {{ project.context_version }})</span>
            </div>  
            <div class="label-selected">
              <label class="label-title-selected">Data at hand:</label>
              <span class="label-value-selected"> {{ dataAtHandDetails.description }} ({{ dataAtHandDetails.dbname }}) <a href="javascript:void(0)" (click)="dataAtHandModal.openModal()" style="text-decoration: none;">
                <i class="bi bi-zoom-in"></i>
              </a>
              </span>
            </div>
            <div class="label-selected">
              <label class="label-title-selected">DQ Metrics:</label>
            </div>

            <div class="dimensions-factors-selected-accordion-container">
              <div class="accordion mx-3" id="accordionMetrics">
                <div class="accordion-item mb-2" *ngFor="let metric of allMetrics; let i = index" style="border: 1px solid #dee2e6; border-radius: 5px; overflow: hidden;">
                  <h2 class="accordion-header" [id]="'metricHeading' + i">
                    <button
                      class="accordion-button"
                      [ngClass]="{ 'collapsed': !metric.expanded }"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#metricCollapse' + i"
                      [attr.aria-expanded]="metric.expanded"
                      [attr.aria-controls]="'metricCollapse' + i"
                      style="padding: 0.6rem 0.9rem;">
                      <span>
                        <label class="label-title">DQ Metric:</label>
                        <span class="dimension-name">{{ metric.metric_name }}</span>
                      </span>
                    </button>
                  </h2>
                  <div
                    [id]="'metricCollapse' + i"
                    class="accordion-collapse collapse"
                    [class.show]="metric.expanded"
                    [attr.aria-labelledby]="'metricHeading' + i">
                    <div class="accordion-body">
                      <div class="label-selected">
                        <label class="label-title-selected">Purpose:</label>
                        <span class="label-value-selected">{{ metric.baseAttr.purpose }}</span>
                      </div>
                      <div class="label-selected">
                        <label class="label-title-selected">Granularity:</label>
                        <span class="label-value-selected">{{ metric.baseAttr.granularity }}</span>
                      </div>
                      <div class="label-selected">
                        <label class="label-title-selected">Result domain:</label>
                        <span class="label-value-selected">{{ metric.baseAttr.resultDomain }}</span>
                      </div>

                      <div class="label-selected">
                        <label class="label-title-selected">Influenced by (Ctx. Components):</label>
                        <span class="label-value-selected">
                            <ul>
                                <li *ngFor="let category of getContextComponentCategories(metric.context_components)">
                                    {{ formatCtxCompCategoryName(category) }}:
                                    <ul>
                                        <li *ngFor="let componentId of metric.context_components[category]">
                                            <a href="javascript:void(0)" (click)="openContextComponentModal(category, componentId)">
                                                {{ getFirstAttribute(category, componentId) }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </span>
                      </div>

                      <div class="label-selected">
                        <label class="label-title-selected">DQ Methods:</label>
                      </div>

                      <!-- Nested accordion for DQ Methods -->
                      <div class="accordion mx-3 mb-2" id="accordionMethods">
                        <div class="accordion-item" *ngFor="let item of metric.definedMethods; let j = index">
                          <h2 class="accordion-header" [id]="'methodHeading' + j">
                            <button
                              class="accordion-button"
                              [ngClass]="{ 'collapsed': !item.expanded }"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#methodCollapse' + j"
                              [attr.aria-expanded]="item.expanded"
                              [attr.aria-controls]="'methodCollapse' + j"
                              style="padding: 0.6rem 0.9rem;">
                              <span>
                                <label class="label-title">DQ Method:</label>
                                <span class="dimension-name">{{ item.method_name }}</span>
                              </span>
                            </button>
                          </h2>
                          <div
                            [id]="'methodCollapse' + j"
                            class="accordion-collapse collapse"
                            [class.show]="item.expanded"
                            [attr.aria-labelledby]="'methodHeading' + j">
                            <div class="accordion-body">
                              <div class="label-selected">
                                <label class="label-title-selected">Name:</label>
                                <span class="label-value-selected">{{ item.baseAttr.name }}</span>
                              </div>
                              <div class="label-selected">
                                <label class="label-title-selected">Input:</label>
                                <span class="label-value-selected">{{ item.baseAttr.inputDataType }}</span>
                              </div>
                              <div class="label-selected">
                                <label class="label-title-selected">Output:</label>
                                <span class="label-value-selected">{{ item.baseAttr.outputDataType }}</span>
                              </div>
                              <div class="label-selected">
                                <label class="label-title-selected">Algorithm:</label>
                                <pre class="label-value-selected"><code>{{ item.baseAttr.algorithm }}</code></pre>
                              </div>

                              <div class="label-selected">
                                <label class="label-title-selected">Influenced by (Ctx. Components):</label>
                                <span class="label-value-selected">
                                    <ul>
                                        <li *ngFor="let category of getContextComponentCategories(item.context_components)">
                                            {{ formatCtxCompCategoryName(category) }}:
                                            <ul>
                                                <li *ngFor="let componentId of item.context_components[category]">
                                                    <a href="javascript:void(0)" (click)="openContextComponentModal(category, componentId)">
                                                        {{ getFirstAttribute(category, componentId) }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </span>
                              </div>
                              
                              <div class="label-selected">
                                <label class="label-title-selected">Applied Methods:</label>
                              </div>

                              <div *ngIf="item && (item.applied_methods?.aggregations?.length > 0 || item.applied_methods?.measurements?.length > 0)">  
                                <!-- Accordion for Aggregated Applied Methods -->
                                <div *ngIf="item.applied_methods.aggregations.length > 0">
                                  <div class="accordion  mx-3 mb-2" id="accordionAggregatedMethods">
                                    <div class="accordion-item" *ngFor="let appliedMethod of item.applied_methods.aggregations; let i = index">
                                      <h2 class="accordion-header" [id]="'aggregatedHeading' + i">
                                        <button
                                          class="accordion-button"
                                          [ngClass]="{ 'collapsed': !appliedMethod.expanded }"
                                          type="button"
                                          data-bs-toggle="collapse"
                                          [attr.data-bs-target]="'#aggregatedCollapse' + i"
                                          [attr.aria-expanded]="appliedMethod.expanded"
                                          [attr.aria-controls]="'aggregatedCollapse' + i"
                                          style="padding: 0.6rem 0.9rem;">
                                          <span>
                                            <label class="label-title-applied-methods">Aggregated Method:</label>
                                            <span class="dimension-name">{{ appliedMethod.name }}</span>
                                          </span>
                                        </button>
                                      </h2>
                                      <div
                                        [id]="'aggregatedCollapse' + i"
                                        class="accordion-collapse collapse"
                                        [class.show]="appliedMethod.expanded"
                                        [attr.aria-labelledby]="'aggregatedHeading' + i">
                                        <div class="accordion-body">
                                          <div class="label-selected">
                                            <label class="label-title-selected">Name:</label>
                                            <span class="label-value-selected">{{ appliedMethod.name }}</span>
                                          </div>
                                          <div class="label-selected">
                                            <label class="label-title-selected">Applied To:</label>
                                            <span class="label-value-selected">
                                              <div *ngFor="let table of getAppliedToDisplay(appliedMethod.appliedTo)" 
                                                class="table-display">
                                              <strong>Table:</strong> {{ table.tableName }}<br>
                                              <strong>Columns:</strong> {{ table.columns.join(', ') }}
                                            </div>
                                            </span>
                                          </div>
                                          <div class="mt-3">
                                            <button (click)="deleteAppliedMethod(appliedMethod)" class="btn btn-outline-danger btn-sm">Remove Applied DQ Method</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                      
                                <!-- Accordion for Measurement Applied Methods -->
                                <div *ngIf="item.applied_methods.measurements.length > 0" class="mt-3">
                                  <div class="accordion mx-3 mb-2 mt-2" id="accordionMeasurementMethods">
                                    <div class="accordion-item" *ngFor="let appliedMethod of item.applied_methods.measurements; let j = index">
                                      <h2 class="accordion-header" [id]="'measurementHeading' + j">
                                        <button
                                          class="accordion-button"
                                          [ngClass]="{ 'collapsed': !appliedMethod.expanded }"
                                          type="button"
                                          data-bs-toggle="collapse"
                                          [attr.data-bs-target]="'#measurementCollapse' + j"
                                          [attr.aria-expanded]="appliedMethod.expanded"
                                          [attr.aria-controls]="'measurementCollapse' + j"
                                          style="padding: 0.6rem 0.9rem;">
                                          <span>
                                            <label class="label-title-applied-methods">Measurement Method:</label>
                                            <span class="dimension-name">{{ appliedMethod.name }}</span>
                                          </span>
                                        </button>
                                      </h2>
                                      <div
                                        [id]="'measurementCollapse' + j"
                                        class="accordion-collapse collapse"
                                        [class.show]="appliedMethod.expanded"
                                        [attr.aria-labelledby]="'measurementHeading' + j">
                                        <div class="accordion-body">
                                          <div class="label-selected">
                                            <label class="label-title-selected">Name:</label>
                                            <span class="label-value-selected">{{ appliedMethod.name }}</span>
                                          </div>
                                          <div class="label-selected">
                                            <label class="label-title-selected">Applied To:</label>
                                            <span class="label-value-selected" style="white-space: pre-line;">{{ formatAppliedTo(appliedMethod.appliedTo) }}</span>
                                          </div>
                                          <div class="mt-3 mb-2">
                                            <button (click)="deleteAppliedMethod(appliedMethod)" class="btn btn-outline-danger btn-sm">Remove Applied DQ Method</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="mt-4">
                                <button (click)="deleteMethod(metric, item)" class="btn btn-outline-danger btn-sm">Remove DQ Method</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>

<app-confirmation-modal
  [isOpen]="isConfirmationModalOpen"
  [title]="confirmationModalTitle"
  [message]="confirmationModalMessage"
  (confirm)="handleConfirm()"
  (cancel)="handleCancel()">
</app-confirmation-modal>



<app-context-component-view-modal
  #contextComponentModal
  [selectedComponentKeys]="selectedComponentKeys"
  [selectedComponentDetails]="selectedComponentDetails">
</app-context-component-view-modal>

<app-data-at-hand-view-modal
  #dataAtHandModal
  [dataAtHandDetails]="dataAtHandDetails"
  [dataSchema]="dataSchema">
</app-data-at-hand-view-modal>

<app-stepper
  [currentStep]="currentStep"
  [totalSteps]="steps.length"
  [isNextStepEnabled]="isNextStepEnabled"
  (stepChange)="onStepChange($event)">
</app-stepper>