<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">CaQDM: Data Quality Assesment Phase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

		<ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="step1">Step 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="step2">Step 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="step3">Step 3</a>
      </li>
    </ul>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
