.custom-navbar {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding-left: 0;
  padding-right: 0; 
  border-bottom: 1px solid #eeeeee;
  height: 64px;
  margin-bottom: 30px;
}

.navbar-brand {
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar-nav {
  flex-grow: 1;
}

.navbar-nav.me-auto {
  margin-left: 0;
}

.navbar-nav.ms-auto {
  margin-right: 15px;
  justify-content: flex-end;
}

.nav-item .nav-link {
  font-size: 1rem;
  color: rgb(94, 94, 94);
  letter-spacing: -0.4px;
}

.nav-link.nav-btn {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 5px 10px;
  transition: all 0.3s ease;
  border-color: #ced4da; 
}

.nav-link.nav-btn:hover {
  background-color: #f8f9fa; 
}

.navbar-nav .nav-item {
  position: relative;
}

.dropdown-toggle {
  border: none !important; /* Elimina el borde */
  box-shadow: none !important; /* Elimina cualquier sombra */
  background-color: transparent !important; /* Asegura el color de fondo */
}

.dropdown-toggle:focus {
  outline: none; /* Elimina el contorno en el enfoque */
}

.dropdown-menu {
  background-color: #fff;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  position: absolute;
  will-change: transform;
  z-index: 1000;
  letter-spacing: -0.4px;
}

.dropdown-item:hover {
  background-color: #f7f7f7; 
  color: #000; 
  letter-spacing: -0.4px;
}

.navbar-nav .nav-link.active {
  background-color: #e9ecef; 
  color: #495057; 
}

.nav-item .nav-link:hover {
  background-color: #fff; 
  color: #000; 
}

@media (max-width: 992px) {
  .navbar-nav.me-auto,
  .navbar-nav.ms-auto {
    margin: 0;
  }

  .navbar-brand,
  .nav-item .nav-link {
    margin: 0;
    padding: 10px 15px;
  }
}

/* Estilo para el ítem principal activo */
.nav-item.active > .nav-link {
  font-weight: 500; /* Texto en negrita */
}

/* Estilo para los subítems activos */
.dropdown-item.active {
  font-weight: 600; /* Texto en negrita */
}

/* Estilo para los subítems activos */
.dropdown-item.active {
  background-color: transparent !important; /* Elimina el fondo azul */
  color: #495057 !important; /* Mantiene el color del texto original */
  font-weight: 600; /* Texto en negrita */
}