<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">CaQDM: Data Quality Assesment Phase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/step1">DQ Model Definition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/step2">DQ Measurement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/step3">DQ Assesment</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link nav-btn" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-btn ms-2" routerLink="/register">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
