.container {
  /*max-width: 86%;*/
  margin: auto;
  color: #222; 
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
}

.priority-column {
  width: 78px; 
}

.table {
  /*font-size: 0.875rem; */
  font-size: 15px;
}

.table tbody tr td {
  color: #222; 
}

.table td {
  vertical-align: middle; 
}

.table th {
  font-weight: 500;  
}

.subtitle-description {
  font-size: 16px;
  font-style: italic;
}


.selection-subtitle {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.details-container {
  /*border: 1px solid #ddd;*/
  padding: 1rem;
  margin-top: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.details-container h3 {
  font-size: 1.2rem;
}

.details-container p, .details-container ul {
  font-size: 0.9rem;
}

.details-container ul {
  list-style-type: none;
  padding-left: 0;
}

.details-container li {
  margin-bottom: 0.5rem;
}

.go-back {
	margin-bottom: 10px;
}
.go-back-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
	color: #888;
}

.go-back-link {
	font-size: 16px;
	color: #888;
  text-decoration: none;

}

.badge {
  min-width: 50px;
  display: inline-block;
  padding: 0.4rem 0.5rem;
  border-radius: 20px;
  font-weight: bold;
}

.badge-high {
  /*color: #942e2e;
  border: 1px solid #942e2e;*/
  background-color: #942e2e; 
}

.badge-medium {
  background-color: #d8c246;
  /*color: #d8c246;
  border: 1px solid #d8c246;*/
}

.badge-low {
  /*color: #3d773d;
  border: 1px solid #3d773d;*/
  background-color: #3d773d;
}


.priority-high .bi-circle-fill {
  color: #942e2e; 
}

.priority-medium .bi-circle-fill {
  color: #d8c246; 
}

.priority-low .bi-circle-fill {
  color: #3d773d;  
}

/*
.flex-container {
  display: flex;
  gap: 1rem;
*/
  /*justify-content: space-between;*/ /* Ajusta el espacio entre los elementos */
/*}*/

.flex-container {
  display: flex;
  justify-content: center;
}

.container-section {
  width: 100%;
  /*border: 1px solid #ddd; */
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff; 
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;  
}

/*
.container-section {
  width: 98%;
  border: 1px solid #ddd; 
  background-color: #fff; 
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;  
}*/

.container-section-2 {
  /*
  flex: 0 0 auto;*/

  /*width: 26%;*/
  border: 1px solid #ddd; 
  background-color: #fff; 
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;  
}

.btn {
	font-size: 0.9rem;
  font-weight: 500;
  /*border-radius: 8px;*/
}
.btn-dark {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #111; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-dark:hover {
  background-color: #333; 
  border: 1px solid #333; 
}

.btn-light {
  background-color: #fff; 
  color: #111; 
  border: 1px solid  #111; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-light:hover {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #222; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-add-added {
  min-width: 92px;
}

.next-step-btn-container{
	display: flex;
  justify-content: flex-end; 
}

.problem-selected-name{
  font-size: 1.05rem;
}

.problem-selected-info{
  color: #556;
  padding-left: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
}



.btn-context {
  position: fixed; /* Fija el botón en la ventana */
  right: 10px;
  top: 400px; /* Distancia desde el borde superior */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  padding: 10px 20px; /* Espaciado interno */
  background-color: #007bff; /* Color de fondo (ajusta según tu tema) */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 100px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para efecto de profundidad */
}

.btn-context:hover {
  background-color: #0056b3; /* Color al pasar el cursor (ajusta según tu tema) */
}
