<div class="container my-4">
  <div class="go-back">
    <button class="go-back-btn">
      <i class="bi bi-chevron-left"></i>
      <a href="step1" class="go-back-link">Back</a>
    </button>
  </div>
  
  <h2 class="title">Selección de Problemas de calidad priorizados</h2>
  <p class="title-description">Seleccione los problemas para definir el DQ Model</p>

  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Prioridad</th>
            <th>Problema</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let problem of prioritizedProblems" [ngClass]="{
            'priority-high': problem.priorityType === 'Alta',
            'priority-medium': problem.priorityType === 'Media',
            'priority-low': problem.priorityType === 'Baja'
          }">
            <td><i class="bi bi-circle-fill"></i></td>
            <td>{{ problem.priorityType }}</td>
            <td>{{ problem.name }}</td>
            <td>
              <button class="btn btn-outline-secondary btn-sm" (click)="showDetails(problem)"><i class="bi bi-zoom-in"></i></button>
              <button class="btn btn-outline-success btn-sm" (click)="addProblem(problem)">Agregar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="selectedProblems.length > 0">
        <h2 class="mt-4 title">Problemas de calidad seleccionados</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Prioridad</th>
              <th>Problema</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let problem of selectedProblems" [ngClass]="{
              'priority-high': problem.priorityType === 'Alta',
              'priority-medium': problem.priorityType === 'Media',
              'priority-low': problem.priorityType === 'Baja'
            }">
              <td><i class="bi bi-circle-fill"></i></td>
              <td>{{ problem.priorityType }}</td>
              <td>{{ problem.name }}</td>
              <td>
                <button class="btn btn-outline-danger btn-sm" (click)="removeSelectedProblem(problem)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary btn-sm mt-3" (click)="confirmSelectedProblems()">Confirmar Selección</button> 
      </div>
    </div>

    <div *ngIf="detailsVisible" class="col-md-4">
      <div class="details-container">
        <h3>Detalles del Problema:</h3>
        <p><strong>Problema:</strong> {{ selectedProblem?.name }}</p>
        <p><strong>Descripción:</strong> {{ selectedProblem?.description }}</p>
        <p><strong>Prioridad:</strong> {{ selectedProblem?.priorityType }}</p>
        <p><strong>Componentes de Contexto Asociados:</strong></p>
        <ul>
          <li *ngFor="let contextId of selectedProblem?.contextcomp_related_to">
            {{ contextId }}: {{ getContextDescription(contextId) }}
          </li>
        </ul>
        <button class="btn btn-outline-secondary btn-sm" (click)="hideDetails()">Ocultar detalles</button>
      </div>
    </div>
  </div>
</div>
