
<div class="container my-4">
  <app-step-navigator 
		[pageStepTitle]="pageStepTitle" 
		[phaseTitle]="phaseTitle" 
		[stageTitle]="stageTitle" 
		[currentStep]="currentStep">
	</app-step-navigator>

  <!--<div class="context-selection">
    <select class="form-select " [(ngModel)]="selectedComponent">
      <option [ngValue]="undefined">Select Ctx. component</option>
      <option *ngFor="let component of contextComponents" [ngValue]="component">
        {{component.displayText}}
      </option>
    </select>
  
    <button class="btn btn-primary" (click)="addContextComponent()" 
            [disabled]="!selectedComponent">
      Add Component
    </button>
  
      <div class="selected-components mt-3" *ngIf="selectedComponents.length > 0">
        <h4>Selected Components:</h4>
        <ul class="list-group">
          <li *ngFor="let component of selectedComponents" class="list-group-item">
            {{component.displayText}}
            <button class="btn btn-danger btn-sm float-end" 
                    (click)="removeContextComponent(component)">
              Remove
            </button>
          </li>
        </ul>
      </div>
    </div>
  -->

  <p class="subtitle-description">Add Dimensions and Factors from scratch</p>
  <div id="dimension-factor-selection"  class="flex-container">
    <div class="suggested-section-container p-4">
      <div>

        <div class="label-container">
          <div class="label">
            <label class="label-title">DQ Dimension:</label>
            <span class="label-value d-flex align-items-center">

              <select 
                class="form-select select-style"   
                id="dqDimension"
                [(ngModel)]="selectedDimension" 
                (change)="onDimensionChange()"
                aria-label="Default select example"
              >
                <option value="" disabled>Select existing</option>
                <option *ngFor="let dimension of dqDimensionsBase" [ngValue]="dimension.id">
                  {{ dimension.name }}
                </option>
              </select>
          
              <button class="btn btn-light  mx-2" (click)="openDimensionModal()">Add new</button>
            </span>
          </div>

          <!-- Add New Dimension modal form -->
          <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isDimensionModalOpen}" [style.display]="isDimensionModalOpen ? 'block' : 'none'">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add new DQ Dimension</h5>
                  <button type="button" class="close" aria-label="Close" (click)="closeDimensionModal()">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                  </button>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="createDimension()">
                    <div class="form-group">
                      <label for="dimensionName">Name</label>
                      <input type="text" class="form-control" id="dimensionName" [(ngModel)]="dimensionName" name="dimensionName" placeholder="Enter DQ Dimension name" required>
                    </div>
                    <div class="form-group">
                      <label for="dimensionSemantic">Semantic</label>
                      <input type="text" class="form-control" id="dimensionSemantic" [(ngModel)]="dimensionSemantic" name="dimensionSemantic" placeholder="Enter DQ Dimension semantic" required>
                    </div>
                    <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-light" (click)="closeDimensionModal()">Cancel</button>
                  <button type="submit" class="btn btn-sm btn-dark" (click)="createDimension()">Confirm</button>
                </div>
              </div>
            </div>
          </div>


          <!--Mostrar Dimension seleccionada/creado-->
          <div *ngIf="selectedDimension !== null">
            <div class="label-container-selected py-2 px-4">
              <div class="label-selected">
                <span class="label-name-selected">{{ getSelectedDimension()?.name }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Semantic:</label>
                <span class="label-value-selected">{{ getSelectedDimension()?.semantic }}</span>
              </div>  
            </div>

            <button class="btn btn-light btn-sm mx-4 my-2 mb-4" (click)="openDimensionModal()">Edit</button>
          </div>

          <div class="label">
            <label class="label-title">DQ Factor:</label>
            <span class="label-value d-flex align-items-center">
              <select 
                id="dqFactor" 
                class="form-select select-style" 
                [(ngModel)]="selectedFactor"
                (change)="onFactorChange()"
                aria-label="Select a factor">
                <option value="" disabled selected>Select existing</option>
                <ng-container *ngIf="selectedDimension">
                  <option *ngFor="let factor of availableFactors" [ngValue]="factor.id">
                    {{ factor.name }}
                  </option>
                </ng-container>
              </select>

              <button class="btn btn-light  mx-2" (click)="openFactorModal()">Add new</button>
            </span>
          </div>
          <!-- Mensaje informativo si no hay factores -->
          <div *ngIf="noFactorsMessage" class="alert alert-warning mt-2">
            {{ noFactorsMessage }}
          </div>

          <!-- Modal para Agregar Nuevo Factor -->
          <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isFactorModalOpen}" [style.display]="isFactorModalOpen ? 'block' : 'none'">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add New DQ Factor</h5>
                  <button type="button" class="close" aria-label="Close" (click)="closeFactorModal()">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                  </button>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="createFactor()">
                    <div class="form-group">
                      <label for="factorName">Name</label>
                      <input type="text" class="form-control" id="factorName" [(ngModel)]="factorName" name="factorName" placeholder="Enter DQ Factor name" required>
                    </div>
                    <div class="form-group">
                      <label for="factorSemantic">Semantic</label>
                      <input type="text" class="form-control" id="factorSemantic" [(ngModel)]="factorSemantic" name="factorSemantic" placeholder="Enter DQ Factor semantic" required>
                    </div>

                    <!-- Mostrar la Dimensión Seleccionada -->
                    <div class="form-group">
                      <label for="selectedDimension">Selected Dimension</label>
                      <input type="text" class="form-control" id="selectedDimension" [value]="selectedDimensionName" readonly>
                    </div>

                    
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-light" (click)="closeFactorModal()">Cancel</button>
                  <button type="submit" class="btn btn-sm btn-dark" (click)="createFactor()">Confirm</button>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>

          <!--Mostrar Factor seleccionado/creado-->
          <div *ngIf="selectedFactor !== null">
            <div class="label-container-selected py-2 px-4">
              <div class="label-selected">
                <span class="label-name-selected">{{ getSelectedFactor()?.name }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Semantic:</label>
                <span class="label-value-selected">{{ getSelectedFactor()?.semantic }}</span>
              </div>
            </div>
          
            <button class="btn btn-light btn-sm mx-4 my-2 mb-4" (click)="openDimensionModal()">Edit</button>
          </div>

        </div>
        
        <!--Context Components-->
        <div class="d-flex justify-content-between px-4 py-3" style="gap: 20px;">
          <div class="from-ctx-components  flex-fill ">
            <p class="">From Context Components:</p>

            <span class="label-value d-flex align-items-center">
            <!--<button class="btn btn-light btn-sm" >
              Select <i class="bi bi-chevron-down"></i>
            </button>-->
            <div class="context-selection">
              <!--<select class="form-select select-style-ctx" [(ngModel)]="selectedComponent">
                <option [ngValue]="undefined">Select Ctx. component</option>
                <option *ngFor="let component of contextComponents" [ngValue]="component">
                  {{component.displayText}}
                </option>
              </select>-->

              <select class="form-select select-style-ctx" 
                [(ngModel)]="selectedComponent" 
                (ngModelChange)="onComponentSelect()">
                <option [ngValue]="undefined">Select Ctx. component</option>
                <option *ngFor="let component of contextComponents" [ngValue]="component">
                  {{component.displayText}}
                </option>
              </select>
            
              <!--<button class="btn btn-primary" (click)="addContextComponent()" 
                      [disabled]="!selectedComponent">
                Add Component
              </button>-->
            
              <div class="selected-components mt-3" *ngIf="selectedComponents.length > 0">
                <ul class="list-group">
                  <li *ngFor="let component of selectedComponents" class="list-group-item">
                    {{component.displayText}}
                    <button class="btn btn-danger btn-sm float-end" 
                            (click)="removeContextComponent(component)">
                      X
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            
            <!--<button 
              class="btn btn-primary my-2 mx-2" 
              (click)="addContextComponent()" 
              [disabled]="!selectedComponent">
                Add
            </button>-->


            </span>
          </div>

          <div class="from-ctx-components flex-fill ">
            <p class="fst-italic">From DQ Problems:</p>

            <button class="btn btn-light btn-sm" >Select</button>
          </div>
        </div>

      </div>

      <button 
        type="button" 
        class="btn btn-dark mt-4" 
        (click)="addToDQModel()" 
        [disabled]="!selectedDimension || !selectedFactor">
        Add to DQ Model
      </button>

      <!-- Mensaje de Alerta -->
      <div *ngIf="duplicateFactor" class="alert alert-warning mt-2">
        Este par de dimensión y factor ya ha sido agregado.
      </div>

    </div>
  </div>
  


  <div class="flex-container">
    <div class="suggested-section-container p-4">
      
      <!-- DQ DIMENSIONS and DQ FACTORS ADDED to DQ MODEL -->
      <div *ngIf="dimensionsWithFactorsInDQModel && dimensionsWithFactorsInDQModel.length">
        <h5 class="pb-2">DQ Model: Dimensions and Factors</h5>
        
        <div class="accordion" id="accordionExample">
          <div class="accordion-item mb-3" *ngFor="let item of dimensionsWithFactorsInDQModel; let i = index"
          style="border: 1px solid #dee2e6; border-radius: 5px; overflow: hidden; margin-top: 8px;">
            <h2 class="accordion-header" [id]="'heading' + i">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + i"
                aria-expanded="true"
                [attr.aria-controls]="'collapse' + i"
                style="padding: 0.6rem 0.9rem;"
              >
              <span><strong>DQ Dimension: </strong> {{ item.dimension.dimension_name }}</span>
              
              </button>
            </h2>
            <div
              [id]="'collapse' + i"
              class="accordion-collapse collapse"
              [class.show]="i === 0"
              [attr.aria-labelledby]="'heading' + i"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>Dimension Base:</strong>
                <ul>
                  <li>Name: {{ item.baseAttributes.name }}</li>
                  <li>Semantic: {{ item.baseAttributes.semantic }}</li>
                </ul>

                <button (click)="deleteDimension(item.dimension.id)" class="btn btn-danger btn-sm">
                  Remove Dimension
                </button>
                <button (click)="scrollToDiv('dimension-factor-selection')" class="btn btn-light btn-sm ms-2">
                  Add more Factors
                </button><br><br>
                
                <strong>Factors:</strong>
                <div class="accordion mt-3" [id]="'factorAccordion' + i">
                  <div
                    class="accordion-item"
                    *ngFor="let factor of item.factors; let j = index"
                  >
                    <h2 class="accordion-header" [id]="'factorHeading' + i + '-' + j">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#factorCollapse' + i + '-' + j"
                        aria-expanded="false"
                        [attr.aria-controls]="'factorCollapse' + i + '-' + j"
                      >
                        <span><strong>DQ Factor: </strong> {{ factor.factor_name }}</span>
                      </button>
                    </h2>
                    <div
                      [id]="'factorCollapse' + i + '-' + j"
                      class="accordion-collapse collapse"
                      [attr.aria-labelledby]="'factorHeading' + i + '-' + j"
                      [attr.data-bs-parent]="'#factorAccordion' + i"
                    >
                      <div class="accordion-body">
                        <strong>Factor Base atrributes:</strong>
                        <ul>
                          <li>Name: {{ factor.baseAttributes.name }}</li>
                          <li>Semantic: {{ factor.baseAttributes.semantic }}</li>
                        </ul>
                        <button (click)="deleteFactor(factor.id)" class="btn btn-danger btn-sm">
                          Remove Factor
                        </button> <br>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <p *ngIf="noDimensionsMessage" class="error-message">{{ noDimensionsMessage }}</p>

    </div><!-- end suggested-section-container div -->
  </div> <!-- end flex-container div -->

<app-context-components></app-context-components>