
<div class="container my-4">
  <app-step-navigator 
		[pageStepTitle]="pageStepTitle" 
		[phaseTitle]="phaseTitle" 
		[stageTitle]="stageTitle" 
		[currentStep]="currentStep">
	</app-step-navigator>

  <!--<div class="context-selection">
    <select class="form-select " [(ngModel)]="selectedComponent">
      <option [ngValue]="undefined">Select Ctx. component</option>
      <option *ngFor="let component of contextComponents" [ngValue]="component">
        {{component.displayText}}
      </option>
    </select>
  
    <button class="btn btn-primary" (click)="addContextComponent()" 
            [disabled]="!selectedComponent">
      Add Component
    </button>
  
      <div class="selected-components mt-3" *ngIf="selectedComponents.length > 0">
        <h4>Selected Components:</h4>
        <ul class="list-group">
          <li *ngFor="let component of selectedComponents" class="list-group-item">
            {{component.displayText}}
            <button class="btn btn-danger btn-sm float-end" 
                    (click)="removeContextComponent(component)">
              Remove
            </button>
          </li>
        </ul>
      </div>
    </div>
  -->


  <!-- SECTION (SELECTION): Suggested Dimensions and Factors -->
  <p class="subtitle-description" *ngIf="this.currentDQModel?.status !== 'finished'">Suggested Dimensions and Factors</p>
  <div class="flex-container" *ngIf="this.currentDQModel?.status !== 'finished'">
    <div class="suggested-section-container">
      <div class="suggested-section-div">
        <div class="label-container">
          <div class="label">
            <label class="label-title">DQ Dimension:</label>
            <span class="label-value">Accuracy <i class="bi bi-info-circle"></i></span>
          </div>
          <div class="label">
            <label class="label-title">DQ Factor:</label>
            <span class="label-value">Syntactic Accuracy <i class="bi bi-info-circle"></i></span>
          </div>
        </div>
      
      <!--Context Components-->
      <div class="d-flex justify-content-between px-4 py-3" style="gap: 20px;">
        <div class="from-ctx-components  flex-fill ">

          <!--<label class="label-title-selection-ctx mb-2 mt-2">From Context Components:</label>-->
          <div class="label-selected">
            <label class="label-title-selected-ctx">From Context Components:</label>
            <!--<span class="label-value-selected">{{ getSelectedDimension()?.semantic }}</span>-->
          </div>
          <div class="label-selected">
            <label class="label-title-selected">Ctx (Arises from):</label>
            <span class="label-value-selected">[Application Domain] Pharmacology <i *ngIf="isEditSuggestedContextVisible" class="bi bi-x-lg"></i></span>
          </div>
          <div class="label-selected">
            <label class="label-title-selected"></label>
            <span class="label-value-selected">[Business Rule] ATB ∈ (“amika”, “vanco”, “genta”) <i *ngIf="isEditSuggestedContextVisible" class="bi bi-x-lg"></i>
            </span>
          </div>
          <div class="label-selected">
            <label class="label-title-selected"></label>
            <span class="label-value-selected">[User Type] Researcher <i *ngIf="isEditSuggestedContextVisible" class="bi bi-x-lg"></i></span>
          </div>
          
          <!-- mensaje para que empiece agregar componentes de contexto -->
          <div class="add-ctx-alert-tip alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="20" height="20" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div>
              Context components can suggest and guide the selection of relevant data quality dimensions and factors, ensuring focus on key quality aspects.
            </div>
          </div>
          <!--<button class="btn btn-light btn-sm  mb-4" (click)="openDimensionModal()">Add</button>-->
          <button class="btn btn-light btn-sm mb-4" (click)="toggleSuggestedItemsVisibility('context')">
            <i *ngIf="!isEditSuggestedContextVisible"></i>
            <i *ngIf="isEditSuggestedContextVisible" class="bi bi-eye-slash"></i>
            {{ isEditSuggestedContextVisible ? 'Hide' : 'Edit' }}
          </button>

          <span class="label-value d-flex align-items-center">
            <div class="context-selection">
              <div class="selected-components mt-3" *ngIf="selectedComponents.length > 0">
                <ul class="list-group">
                  <li *ngFor="let component of selectedComponents" class="list-group-item">
                    {{component.displayText}}
                    <button class="btn btn-danger btn-sm float-end" 
                            (click)="removeContextComponent(component)">
                      X
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </span>

          <!-- CTX COMPONENTS SELECTION (CHECKBOX BY TYPE) -->
          <div *ngIf="isEditSuggestedContextVisible" class="ctx-selection-accordion-container">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button"  
                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" 
                    aria-expanded="true" 
                    aria-controls="panelsStayOpen-collapseOne"
                    style="padding: 0.6rem 0.9rem;"
                  >
                    Application Domain:
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    <div class="ms-2 form-check">
                      <input class="form-check-input" type="checkbox" id="">
                      <label class="form-check-label" for="">
                        Pharmacology <i class="bi bi-info-circle"></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button"  
                    data-bs-toggle="collapse" 
                    data-bs-target="#panelsStayOpen-collapseTwo" 
                    aria-expanded="false" 
                    aria-controls="panelsStayOpen-collapseTwo"
                    style="padding: 0.6rem 0.9rem;">
                    Business Rules:
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                    <div class="ms-2 form-check">
                      <input class="form-check-input" type="checkbox" id="">
                      <label class="form-check-label" for="">
                        ATB ∈ (“amika”, “vanco”, “genta”) <i class="bi bi-info-circle"></i>
                      </label>
                    </div>
                    <div class="ms-2 form-check">
                      <input class="form-check-input" type="checkbox" id="">
                      <label class="form-check-label" for="">
                        CBFConc 6= NULL → ATB = “vanco” <i class="bi bi-info-circle"></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed" type="button"  
                    data-bs-toggle="collapse" 
                    data-bs-target="#panelsStayOpen-collapseThree" 
                    aria-expanded="false" 
                    aria-controls="panelsStayOpen-collapseThree"
                    style="padding: 0.6rem 0.9rem;"
                  >
                    User Types:
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body">
                    <div class="ms-2 form-check">
                      <input class="form-check-input" type="checkbox" id="">
                      <label class="form-check-label" for="">
                        Collector <i class="bi bi-info-circle"></i>
                      </label>
                    </div>
                    <div class="ms-2 form-check">
                      <input class="form-check-input" type="checkbox" id="">
                      <label class="form-check-label" for="">
                        Researcher <i class="bi bi-info-circle"></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> <!--end context selecion div-->
      </div>

       <!--DQ Problems-->
       <div class="d-flex justify-content-between px-4 py-3" style="gap: 20px;">
        <div class="from-ctx-components  flex-fill ">

          <!--<label class="label-title-selection-ctx mb-2 mt-2">From Context Components:</label>-->
          <div class="label-selected">
            <label class="label-title-selected-ctx">From DQ Problems:</label>
            <!--<span class="label-value-selected">{{ getSelectedDimension()?.semantic }}</span>-->
          </div>
          <div class="label-selected">
            <span class="label-value-selected">Inconsistent Date Formats <i *ngIf="isEditSuggestedDQProblemsVisible" class="bi bi-x-lg"></i></span>
          </div>
          <div class="label-selected">
            <span class="label-value-selected">Invalid Identification Numbers <i *ngIf="isEditSuggestedDQProblemsVisible" class="bi bi-x-lg"></i></span>
          </div>
          
          <div class="add-ctx-alert-tip alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="20" height="20" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div>
              Prioritized data quality problems can guide the selection of relevant DQ dimensions and factors, helping to focus on the most critical areas for improvement.
            </div>
          </div>
          <!--<button class="btn btn-light btn-sm  mb-4" (click)="openDimensionModal()">Add</button>-->
          <button class="btn btn-light btn-sm mb-4" (click)="toggleSuggestedItemsVisibility('dqproblems')">
            <i *ngIf="!isEditSuggestedDQProblemsVisible"></i>
            <i *ngIf="isEditSuggestedDQProblemsVisible" class="bi bi-eye-slash"></i>
            {{ isEditSuggestedDQProblemsVisible ? 'Hide' : 'Edit' }}
          </button>

          <span class="label-value d-flex align-items-center">
            <div class="context-selection">
              <div class="selected-components mt-3" *ngIf="selectedComponents.length > 0">
                <ul class="list-group">
                  <li *ngFor="let component of selectedComponents" class="list-group-item">
                    {{component.displayText}}
                    <button class="btn btn-danger btn-sm float-end" 
                            (click)="removeContextComponent(component)">
                      X
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </span>

          <!-- DQ PROBLEMS SELECTION (CHECKBOX) -->
          <div *ngIf="isEditSuggestedDQProblemsVisible" class="ctx-selection-accordion-container">
            <div class="checkbox-container">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox1">
                <label class="form-check-label" for="checkbox1">Inconsistent Date Formats</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox2">
                <label class="form-check-label" for="checkbox2">Missing Age Fields</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox3">
                <label class="form-check-label" for="checkbox3">Duplicate Patient Records</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox4">
                <label class="form-check-label" for="checkbox4">Invalid Identification Numbers</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox5">
                <label class="form-check-label" for="checkbox5">Incorrect Order of Follow-up Dates</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox6">
                <label class="form-check-label" for="checkbox6">Scores Values Not Following Trend</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox7">
                <label class="form-check-label" for="checkbox7">Outliers in Measurements</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox8">
                <label class="form-check-label" for="checkbox8">Incomplete Address Fields</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox9">
                <label class="form-check-label" for="checkbox9">Incorrect Spelling in Names</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox10">
                <label class="form-check-label" for="checkbox10">Inconsistent Measurement Units</label>
              </div>
            </div>
            
          </div>

        </div> <!--end context selecion div-->
      </div>


      <button class="btn btn-dark btn-sm mt-4">Add to DQ Model</button>
      <button class="btn btn-light btn-sm mt-4 mx-3">Ignore</button>
      </div>

    </div>

  </div>



  <!--SECTION (SELECTION): Add Dimensions and Factors from scratch -->
  <p class="subtitle-description  mt-4" *ngIf="this.currentDQModel?.status !== 'finished'">Add Dimensions and Factors from scratch</p>
  <!--<p class="selection-subtitle">Add DQ Dimensions and DQ Factors from scratch</p>-->
  <div class="flex-container" id="dimension-factor-selection" *ngIf="this.currentDQModel?.status !== 'finished'">
    <!--<div class="from-scratch-section-container">-->
    <div class="suggested-section-container">

      <div class="dim-factor-selection-container">
      <!--<div class="dim-factor-selection-div">-->
        <div class="label-container">
          <div class="label">
            <label class="label-title">DQ Dimension:</label>
            <span class="label-value d-flex align-items-center">

              <select 
                class="form-select select-style"   
                id="dqDimension"
                [(ngModel)]="selectedDimension" 
                (change)="onDimensionChange()"
                aria-label="Default select example"
              >
                <option value="" disabled>Select existing</option>
                <option *ngFor="let dimension of dqDimensionsBase" [ngValue]="dimension.id">
                  {{ dimension.name }}
                </option>
              </select>
          
              <button class="btn btn-light  mx-2" (click)="openDimensionModal()">Add new</button>
            </span>
          </div>

          <!-- Add New Dimension modal form -->
          <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isDimensionModalOpen}" [style.display]="isDimensionModalOpen ? 'block' : 'none'">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add new DQ Dimension</h5>
                  <button type="button" class="close" aria-label="Close" (click)="closeDimensionModal()">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                  </button>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="createDimension()">
                    <div class="form-group">
                      <label for="dimensionName">Name</label>
                      <input type="text" class="form-control" id="dimensionName" [(ngModel)]="dimensionName" name="dimensionName" placeholder="Enter DQ Dimension name" required>
                    </div>
                    <div class="form-group">
                      <label for="dimensionSemantic">Semantic</label>
                      <input type="text" class="form-control" id="dimensionSemantic" [(ngModel)]="dimensionSemantic" name="dimensionSemantic" placeholder="Enter DQ Dimension semantic" required>
                    </div>
                    <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-light" (click)="closeDimensionModal()">Cancel</button>
                  <button type="submit" class="btn btn-sm btn-dark" (click)="createDimension()">Confirm</button>
                </div>
              </div>
            </div>
          </div>


          <!--Mostrar Dimension seleccionada/creado-->
          <div *ngIf="selectedDimension !== null">
            <div class="label-container-selected py-2 px-4">
              <div class="label-selected">
                <span class="label-name-selected">{{ getSelectedDimension()?.name }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Semantic:</label>
                <span class="label-value-selected">{{ getSelectedDimension()?.semantic }}</span>
              </div>  
            </div>

            <!--<button type="button" class="btn btn-sm btn-outline-danger">Delete</button>-->
          </div>

          <div class="label mt-2">
            <label class="label-title">DQ Factor:</label>
            <span class="label-value d-flex align-items-center">
              <select 
                id="dqFactor" 
                class="form-select select-style" 
                [(ngModel)]="selectedFactor"
                (change)="onFactorChange()"
                aria-label="Select a factor">
                <option value="" disabled selected>Select existing</option>
                <ng-container *ngIf="selectedDimension">
                  <option *ngFor="let factor of availableFactors" [ngValue]="factor.id">
                    {{ factor.name }}
                  </option>
                </ng-container>
              </select>

              <button class="btn btn-light  mx-2" (click)="openFactorModal()">Add new</button>
            </span>
          </div>
          <!-- Mensaje informativo si no hay factores -->
          <div *ngIf="noFactorsMessage" class="alert alert-warning mt-2">
            {{ noFactorsMessage }}
          </div>

          <!-- Modal para Agregar Nuevo Factor -->
          <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isFactorModalOpen}" [style.display]="isFactorModalOpen ? 'block' : 'none'">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add New DQ Factor</h5>
                  <button type="button" class="close" aria-label="Close" (click)="closeFactorModal()">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                  </button>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="createFactor()">
                    <div class="form-group">
                      <label for="factorName">Name</label>
                      <input type="text" class="form-control" id="factorName" [(ngModel)]="factorName" name="factorName" placeholder="Enter DQ Factor name" required>
                    </div>
                    <div class="form-group">
                      <label for="factorSemantic">Semantic</label>
                      <input type="text" class="form-control" id="factorSemantic" [(ngModel)]="factorSemantic" name="factorSemantic" placeholder="Enter DQ Factor semantic" required>
                    </div>

                    <!-- Mostrar la Dimensión Seleccionada -->
                    <div class="form-group">
                      <label for="selectedDimension">Selected Dimension</label>
                      <input type="text" class="form-control" id="selectedDimension" [value]="selectedDimensionName" readonly>
                    </div>

                    
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-light" (click)="closeFactorModal()">Cancel</button>
                  <button type="submit" class="btn btn-sm btn-dark" (click)="createFactor()">Confirm</button>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>

          <!--Mostrar Factor seleccionado/creado-->
          <div *ngIf="selectedFactor !== null">
            <div class="label-container-selected py-2 px-4">
              <div class="label-selected">
                <span class="label-name-selected">{{ this.selectedFactorDetails?.name }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Semantic:</label>
                <span class="label-value-selected">{{ this.selectedFactorDetails?.semantic }}</span>
              </div>
            </div>
            <!--<button type="button" class="btn btn-sm btn-outline-danger">Delete</button>-->
            <!--<button class="btn btn-light btn-sm my-2 mb-4" (click)="openDimensionModal()">Delete</button>-->
          </div>

        </div>
        
        <!--Context Components-->
        <div class="d-flex justify-content-between px-4 py-3" style="gap: 20px;">
          <div class="from-ctx-components  flex-fill ">
  
            <!--<label class="label-title-selection-ctx mb-2 mt-2">From Context Components:</label>-->
            <div class="label-selected">
              <label class="label-title-selected-ctx">From Context Components:</label>
              <!--<span class="label-value-selected">{{ getSelectedDimension()?.semantic }}</span>-->
            </div>
            <div class="label-selected">
              <label class="label-title-selected">Ctx (Arises from):</label>
              <span class="label-value-selected">[Application Domain] Pharmacology </span>
            </div>
            <div class="label-selected">
              <label class="label-title-selected"></label>
              <span class="label-value-selected">[Business Rule] ATB ∈ (“amika”, “vanco”, “genta”)
              </span>
            </div>
            <div class="label-selected">
              <label class="label-title-selected"></label>
              <span class="label-value-selected">[User Type] Researcher </span>
            </div>
            
            <!-- mensaje para que empiece agregar componentes de contexto -->
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </symbol>
              <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
              </symbol>
              <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </symbol>
            </svg>
            <div class="add-ctx-alert-tip alert alert-primary d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="20" height="20" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
              <div>
                Identify available context components to help suggest and choose data quality dimensions and factors, and associate them with your selection.
              </div>
            </div>
            <!--<button class="btn btn-light btn-sm  mb-4" (click)="openDimensionModal()">Add</button>-->
            <button class="btn btn-light btn-sm mb-4" (click)="toggleCtxSelectionAccordionVisibility()">
              <i *ngIf="!isCtxSelectionAccordionVisible"></i>
              <i *ngIf="isCtxSelectionAccordionVisible" class="bi bi-eye-slash"></i>
              {{ isCtxSelectionAccordionVisible ? 'Hide' : 'Select' }}
            </button>

            <span class="label-value d-flex align-items-center">
            <!--<button class="btn btn-light btn-sm" >
              Select <i class="bi bi-chevron-down"></i>
            </button>-->
            <div class="context-selection">
              <!--<select class="form-select select-style-ctx" [(ngModel)]="selectedComponent">
                <option [ngValue]="undefined">Select Ctx. component</option>
                <option *ngFor="let component of contextComponents" [ngValue]="component">
                  {{component.displayText}}
                </option>
              </select>-->

              <!-- SELECT CTX COMPONENTS
                <select class="form-select select-style-ctx" 
                [(ngModel)]="selectedComponent" 
                (ngModelChange)="onComponentSelect()">
                <option [ngValue]="undefined">Select Ctx. component</option>
                <option *ngFor="let component of contextComponents" [ngValue]="component">
                  {{component.displayText}}
                </option>
              </select>
              --> 

              <!--<button class="btn btn-primary" (click)="addContextComponent()" 
                      [disabled]="!selectedComponent">
                Add Component
              </button>-->
            
              <div class="selected-components mt-3" *ngIf="selectedComponents.length > 0">
                <ul class="list-group">
                  <li *ngFor="let component of selectedComponents" class="list-group-item">
                    {{component.displayText}}
                    <button class="btn btn-outline-danger btn-sm float-end" 
                            (click)="removeContextComponent(component)">
                      X
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <!--<button 
              class="btn btn-primary my-2 mx-2" 
              (click)="addContextComponent()" 
              [disabled]="!selectedComponent">
                Add
            </button>-->
            </span>

            <!-- CTX COMPONENTS SELECTION (CHECKBOX BY TYPE) -->
            <div *ngIf="isCtxSelectionAccordionVisible" class="ctx-selection-accordion-container">
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button"  
                      data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" 
                      aria-expanded="true" 
                      aria-controls="panelsStayOpen-collapseOne"
                      style="padding: 0.6rem 0.9rem;"
                    >
                      Application Domain:
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <div class="ms-2 form-check">
                        <input class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">
                          Pharmacology <i class="bi bi-info-circle"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button"  
                      data-bs-toggle="collapse" 
                      data-bs-target="#panelsStayOpen-collapseTwo" 
                      aria-expanded="false" 
                      aria-controls="panelsStayOpen-collapseTwo"
                      style="padding: 0.6rem 0.9rem;">
                      Business Rules:
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                      <div class="ms-2 form-check">
                        <input class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">
                          ATB ∈ (“amika”, “vanco”, “genta”) <i class="bi bi-info-circle"></i>
                        </label>
                      </div>
                      <div class="ms-2 form-check">
                        <input class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">
                          CBFConc 6= NULL → ATB = “vanco” <i class="bi bi-info-circle"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button"  
                      data-bs-toggle="collapse" 
                      data-bs-target="#panelsStayOpen-collapseThree" 
                      aria-expanded="false" 
                      aria-controls="panelsStayOpen-collapseThree"
                      style="padding: 0.6rem 0.9rem;"
                    >
                      User Types:
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                      <div class="ms-2 form-check">
                        <input class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">
                          Collector <i class="bi bi-info-circle"></i>
                        </label>
                      </div>
                      <div class="ms-2 form-check">
                        <input class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">
                          Researcher <i class="bi bi-info-circle"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div> <!--end context selecion div-->

          <!--<div class="from-ctx-components flex-fill ">
            <p class="fst-italic">From DQ Problems:</p>

            <button class="btn btn-light btn-sm" >Select</button>
          </div>
          -->
        </div>


        <button 
          type="button" 
          class="btn btn-dark mt-4" 
          (click)="addToDQModel()" 
          [disabled]="!selectedDimension || !selectedFactor">
          Add to DQ Model
        </button>

        <!-- Mensaje de Alerta -->
        <div *ngIf="duplicateFactor" class="alert alert-warning mt-2">
          Este par de dimensión y factor ya ha sido agregado.
        </div>
      </div>

      <!-- PROBLEMS ASIDE SELECTION
        <div class="problems-view">
        <div class="dq-problems-container">
          <h5>Prioritized DQ Problems</h5>
          <ol class="dq-problems-list">
            <li>(Media) Inconsistent Date Formats</li>
            <li>(Media) Missing Age Fields</li>
            <li>(Media) Duplicate Patient Records</li>
            <li>(Media) Invalid Identification Numbers</li>
            <li>(Media) Incorrect Order of Follow-up Dates</li>
            <li>(Media) Scores Values Not Following Trend</li>
            <li>(Media) Outliers in Measurements</li>
            <li>(Media) Incomplete Address Fields</li>
            <li>(Media) Incorrect Spelling in Names</li>
            <li>(Media) Inconsistent Measurement Units</li>
          </ol>
        </div>
      </div>
      -->
      
      <!--</div> <div class="problems-view">-->
   
    </div>
  </div>
  


   <!--SECTION (SELECTION): Add Dimensions and Factors from DQ Problems -->
   <p class="subtitle-description mt-4" *ngIf="currentDQModel?.status !== 'finished'">Add Dimensions and Factors from DQ Problems</p>
   <div class="flex-container" *ngIf="currentDQModel?.status !== 'finished'">
     <div class="suggested-section-container">
       <div class="dq-problem-container">
         <div class="label-container mb-3">
           <div class="label">
             <label class="label-title-problems">DQ Problem:</label>
             <span class="label-problem-title">Inconsistent Date Formats </span><span class="badge rounded-pill bg-danger">High</span>
             
           </div>
           <span class="label-problem-description">Dates are not in a consistent format.</span>
         </div>

         <div class="add-ctx-alert-tip alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="20" height="20" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div>
              Select the data quality dimensions and factors that best match your prioritized data quality problems, focusing on the most critical areas to improve.
            </div>
          </div>
 
         <!-- Dimensions and Factors SELECTION (CHECKBOX) -->
         <div class="label-container container-dim-factors ms-4">

          <!-- DQ Dimension: Accuracy -->
          <div class="label">
            <label class="label-title">DQ Dimension:</label>
            <span class="label-value">Accuracy <i class="bi bi-info-circle"></i></span>
          </div>
          <div class="label">
            <label class="label-title">DQ Factors:</label>
          </div>
            <!-- Accuracy factors -->
            <div class="factors-container ms-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="semanticAccuracy">
                <label class="form-check-label" for="semanticAccuracy">
                  Semantic Accuracy <i class="bi bi-info-circle"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="syntacticAccuracy">
                <label class="form-check-label" for="syntacticAccuracy">
                  Syntactic Accuracy <i class="bi bi-info-circle"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="precision">
                <label class="form-check-label" for="precision">
                  Precision <i class="bi bi-info-circle"></i>
                </label>
              </div>
            </div>
            <br>
          
          <!-- DQ Dimension: Completeness -->
          <div class="label">
            <label class="label-title">DQ Dimension:</label>
            <span class="label-value">Completeness <i class="bi bi-info-circle"></i></span>
          </div>
          <div class="label">
            <label class="label-title">DQ Factors:</label>
          </div>
            <!-- Completeness factors -->
            <div class="factors-container ms-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="coverage">
                <label class="form-check-label" for="coverage">
                  Coverage <i class="bi bi-info-circle"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="density">
                <label class="form-check-label" for="density">
                  Density <i class="bi bi-info-circle"></i>
                </label>
              </div>
            </div>

          <br>
          <!-- DQ Dimension: Freshness -->
          <div class="label">
            <label class="label-title">DQ Dimension:</label>
            <span class="label-value">Freshness <i class="bi bi-info-circle"></i></span>
          </div>
          <div class="label">
            <label class="label-title">DQ Factors:</label>
          </div>
            <!-- Freshness factors -->
            <div class="factors-container ms-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="currency">
                <label class="form-check-label" for="currency">
                  Currency <i class="bi bi-info-circle"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="timeliness">
                <label class="form-check-label" for="timeliness">
                  Timeliness <i class="bi bi-info-circle"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="volatility">
                <label class="form-check-label" for="volatility">
                  Volatility <i class="bi bi-info-circle"></i>
                </label>
              </div>
            </div>
          <br>
        
          <!-- DQ Dimension: Consistency -->
          <div class="label">
            <label class="label-title">DQ Dimension:</label>
            <span class="label-value">Consistency <i class="bi bi-info-circle"></i></span>
          </div>
          <div class="label">
            <label class="label-title">DQ Factors:</label>
          </div>
            <!-- Consistency factors -->
            <div class="factors-container ms-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="domainIntegrity">
                <label class="form-check-label" for="domainIntegrity">
                  Domain Integrity <i class="bi bi-info-circle"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="intraRelationIntegrity">
                <label class="form-check-label" for="intraRelationIntegrity">
                  Intra-Relation Integrity <i class="bi bi-info-circle"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="interRelationIntegrity">
                <label class="form-check-label" for="interRelationIntegrity">
                  Inter-Relation Integrity <i class="bi bi-info-circle"></i>
                </label>
              </div>
            </div>
        
          <br>
          <!-- DQ Dimension: Uniqueness -->
          <div class="label">
            <label class="label-title">DQ Dimension:</label>
            <span class="label-value">Uniqueness <i class="bi bi-info-circle"></i></span>
          </div>
          <div class="label">
            <label class="label-title">DQ Factors:</label>
          </div>
          <!-- Uniqueness factors -->
            <div class="factors-container ms-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="duplicationFree">
                <label class="form-check-label" for="duplicationFree">
                  Duplication-Free <i class="bi bi-info-circle"></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="contradictionFree">
                <label class="form-check-label" for="contradictionFree">
                  Contradiction-Free <i class="bi bi-info-circle"></i>
                </label>
              </div>
            </div>
        </div>
        
 
         <button class="btn btn-dark btn-sm mt-4">Add to DQ Model</button>
       </div>
     </div>
   </div>


   
  <!-- SECTION (DQ MODEL VIEW): Dimensions and Factors in DQMODEL -->
  <!--<h3 class="mt-4 selection-subtitle">DQ Dimensions and DQ Factors added to DQ Model</h3>-->
  <p class="subtitle-description mt-4">Dimensions and Factors added to DQ Model</p>
  <div class="flex-container">
    <div class="suggested-section-container">
      
      <!-- DQ DIMENSIONS and DQ FACTORS ADDED to DQ MODEL -->
      <div *ngIf="dimensionsWithFactorsInDQModel && dimensionsWithFactorsInDQModel.length">
        <!--<h5 class="pb-2">DQ Model: Dimensions and Factors</h5>-->
        
        <!-- DQ MODEL Details with nested DIMENSIONS/FACTORS -->
        <div class="label-container-selected py-2 px-4">
          <div class="dqmodel-title">
            <span class="label-name-dqmodel">{{ currentDQModel.version }} (id: {{ project.dqmodel_version }})</span>
            <span *ngIf="currentDQModel.status === 'finished'" class="badge rounded-pill bg-dark">Finished</span>
            <span *ngIf="currentDQModel.status === 'draft'" class="badge rounded-pill bg-warning">Draft</span>
          </div>
          <div class="label-selected">
            <label class="label-title-selected">Creation date:</label>
            <span class="label-value-selected">{{ currentDQModel.created_at | date:'MMM dd HH:mm yyyy' }}</span>
          </div> 
          <div class="label-selected">
            <label class="label-title-selected">Context version:</label>
            <span class="label-value-selected">CtxA v1.0 (id: {{ project.context_version }})</span>
          </div>  
          <div class="label-selected">
            <label class="label-title-selected">Data at hand:</label>
            <span class="label-value-selected">Dataset A</span>
          </div> 
          <div class="label-selected-dqelement">
            <label class="label-title-selected">DQ Dimensions:</label>
            <!-- SHOW BTN <span class="label-value-selected"><button class="btn btn-light btn-sm ">Show <i class="bi bi-chevron-down"></i></button></span> -->
          </div>

          <!-- Accordion DIMENSIONS DQMODEL -->
          <div class="dimensions-factors-selected-accordion-container">
            <div class="accordion mt-3 mx-5" id="accordionDimensions">
              <div class="accordion-item mb-3" *ngFor="let item of dimensionsWithFactorsInDQModel; let i = index"
              style="border: 1px solid #dee2e6; border-radius: 5px; overflow: hidden; margin-top: 8px;">
                <h2 class="accordion-header" [id]="'heading' + i">
                  <!--<button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + i"
                    aria-expanded="true"
                    [attr.aria-controls]="'collapse' + i"
                    style="padding: 0.6rem 0.9rem;"
                  >-->
                  <button
                    class="accordion-button"
                    [ngClass]="{ 'collapsed': i !== 0 }"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + i"
                    [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
                    [attr.aria-controls]="'collapse' + i"
                    style="padding: 0.6rem 0.9rem;"
                  >
                  <span>
                    <label class="label-title">DQ Dimension:</label> <span class="dimension-name">{{ item.dimension.dimension_name }}</span>
                  </span>
                  
                  </button>
                </h2>
                <div
                  [id]="'collapse' + i"
                  class="accordion-collapse collapse"
                  [class.show]="i === 0"
                  [attr.aria-labelledby]="'heading' + i"
                  
                >
                  <div class="accordion-body">
                    <div class="label-selected">
                      <label class="label-title-selected">Semantic:</label>
                      <span class="label-value-selected">{{ item.baseAttributes.semantic }}</span>
                    </div>

                    <div class="label-selected">
                      <label class="label-title-selected">Ctx (Suggested by):</label>
                      <span class="label-value-selected">BR1, BR2</span>
                    </div>

                    <div class="label-selected-dqelement">
                      <label class="label-title-selected">DQ Factors:</label>
                      <!-- SHOW BTN <span class="label-value-selected"><button class="btn btn-light btn-sm ">Show <i class="bi bi-chevron-down"></i></button></span> -->
                    </div>
                    
                    <div class="accordion mt-3 mx-5" [id]="'factorAccordion' + i">
                      <div
                        class="accordion-item"
                        *ngFor="let factor of item.factors; let j = index"
                      >
                        <h2 class="accordion-header" [id]="'factorHeading' + i + '-' + j">
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#factorCollapse' + i + '-' + j"
                            aria-expanded="false"
                            [attr.aria-controls]="'factorCollapse' + i + '-' + j"
                            style="padding: 0.6rem 0.9rem;"
                          >
                            <span>
                              <label class="label-title">DQ Factor:</label> <span class="dimension-name">{{ factor.factor_name }}</span>
                            </span>
                          </button>
                        </h2>
                        <div
                          [id]="'factorCollapse' + i + '-' + j"
                          class="accordion-collapse collapse"
                          [attr.aria-labelledby]="'factorHeading' + i + '-' + j"
                          [attr.data-bs-parent]="'#factorAccordion' + i"
                          
                        >
                          <div class="accordion-body">
                            <div class="label-selected">
                              <label class="label-title-selected">Semantic:</label>
                              <span class="label-value-selected">{{ factor.baseAttributes.semantic }}</span>
                            </div>
          
                            <div class="label-selected">
                              <label class="label-title-selected">Ctx (Arises from):</label>
                              <span class="label-value-selected">BR1</span>
                            </div>
                            
                            
                            <!-- DQ Factors button -->
                            <div *ngIf="currentDQModel.status === 'draft'">
                              <br>
                              <button (click)="deleteFactor(factor.id)" class="btn btn-outline-danger btn-sm">
                                Remove Factor
                              </button> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- DQ Dimensions buttons -->
                    <div *ngIf="currentDQModel.status === 'draft'">
                      <br> <br>
                      <button (click)="deleteDimension(item.dimension.id)" class="btn btn-outline-danger btn-sm">
                        Remove Dimension
                      </button>
                      <button (click)="scrollToDiv('dimension-factor-selection')" class="btn btn-light btn-sm ms-2">
                        Add more Factors
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        <p *ngIf="noDimensionsMessage" class="error-message">{{ noDimensionsMessage }}</p>

    </div><!-- end suggested-section-container div -->
  </div> <!-- end flex-container div -->


  <!-- FLOATING CARD: PRIORITIZED DQ PROBLEMS  -->
  <div id="dqCard" class="dq-card" [ngClass]="{'minimized': isMinimized}" (mousedown)="onMouseDown($event)">
    <div class="dq-card-header">
      <h6 class="pt-2">Prioritized DQ Problems</h6>
      <button (click)="toggleMinimize()" class="btn">
        <!--<i class="bi" [ngClass]="isMinimized ? 'bi-chevron-up' : 'bi-dash'"></i>-->
        <i class="bi" [ngClass]="isMinimized ? 'bi-arrows-fullscreen' : 'bi-fullscreen-exit'"></i>
      </button>
    </div>
    <div class="dq-card-body" *ngIf="!isMinimized">
      <ol class="dq-problems-list">
        <li><span class="badge rounded-pill bg-danger">High </span>Inconsistent Date Formats <i class="bi bi-info-circle"></i></li> 
        <li><span class="badge rounded-pill bg-danger">High</span>Missing Age Fields <i class="bi bi-info-circle"></i></li> 
        <li><span class="badge rounded-pill bg-danger">High</span>Duplicate Patient Records <i class="bi bi-info-circle"></i></li> 
        <li><span class="badge rounded-pill bg-danger">High</span>Invalid Identification Numbers <i class="bi bi-info-circle"></i></li> 
        <li><span class="badge rounded-pill bg-warning">Medium</span>Incorrect Order of Follow-up Dates <i class="bi bi-info-circle"></i></li> 
        <li><span class="badge rounded-pill bg-warning">Medium</span>Scores Values Not Following Trend <i class="bi bi-info-circle"></i></li> 
        <li><span class="badge rounded-pill bg-warning">Medium</span>Outliers in Measurements <i class="bi bi-info-circle"></i></li> 
        <li><span class="badge rounded-pill bg-warning">Medium</span>Incomplete Address Fields <i class="bi bi-info-circle"></i></li> 
        <li><span class="badge rounded-pill bg-success">Low</span>Incorrect Spelling in Names <i class="bi bi-info-circle"></i></li> 
        <li><span class="badge rounded-pill bg-success">Low</span>Inconsistent Measurement Units <i class="bi bi-info-circle"></i></li>
      </ol>
    </div>
  </div>


  <div class="next-step-btn-container">
    <button class="btn btn-dark">Next ></button>
  </div>

</div>
  
  
<app-context-components></app-context-components>
