/* ===== ESTILOS GENERALES Y CONTENEDORES ===== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: #222;
}

.flex-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px) {
  .container {
    max-width: 86%; 
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px; 
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 8px;
  }
  
  .title {
    font-size: 1.4rem;
  }
  
  .subtitle-description {
    font-size: 14px; 
  }
}

.ctx-selection-accordion-container{
  max-width: 640px;
}

.ctx-selection-accordion-container-edit{
  width: 640px;
  margin-bottom: 1rem;
}

.dimensions-factors-selected-accordion-container{
  max-width: 100%;
}

.accordion-button{
  height: 34px;
  font-size: 15px;
}

.accordion-button:not(.collapsed) {
  background-color: #f9f9f9; 
  color: inherit; 
}

.context-list, .factors-list {
  list-style-type: none; 
  padding-left: 0;
}

.context-list li, .factors-list li {
  margin-bottom: 0.5rem;
}

.hidden-checkbox {
  display: none;
}

.select-style {
  width: 440px;
  font-size: 0.9rem; 
  font-weight: 500;  
  padding-left: 14px;  
  padding-right: 14px;  
  border: 1px solid #bbb;  
  border-radius: 0.25rem;  
  background-color: #fff; 
  color: #111;  
  cursor: pointer;  
}

.select-style-problems {
  width: auto;
  max-width: 440px;
  font-size: 0.9rem; 
  font-weight: 500;  
  padding-left: 14px;  
  padding-right: 34px;  
  border: 1px solid #bbb;  
  border-radius: 0.25rem;  
  background-color: #fff; 
  color: #111;  
  cursor: pointer;  
}

.select-style-ctx {
  width: 300px;
  font-size: 0.9rem; 
  font-weight: 500;  
  padding-left: 14px;  
  padding-right: 40px;  
  border: 1px solid #bbb;  
  border-radius: 0.25rem;  
  background-color: #fff; 
  color: #111;  
  cursor: pointer;  
}

.select-style:focus {
  border-color: #aaa;
  box-shadow: none;
}

.select-style:hover {
  border-color: #aaa; 
}

/* ===== BOTONES ===== */
.btn {
	font-size: 0.9rem;
  font-weight: 500;
}
.btn-dark {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #111; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-dark:hover {
  background-color: #333; 
  border: 1px solid #333; 
}

.btn-light {
  background-color: #fff; 
  color: #111; 
  border: 1px solid #bbb; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-light:hover {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #222; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-ai {
  background-color: #6D28D9;  
  color: #fff; 
  border: 1px solid #8B5CF6; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-ai:hover {
  background-color: #7C3AED; 
  border-color: #7C3AED;
}



.dim-factor-selection-div {
  flex: 1; 
  min-width: 60%; 
}

.dim-factor-selection-container {
  padding: 0.85rem 1rem 1rem 1.2rem;
}

@media (max-width: 400px) {
  .from-scratch-section-container {
    flex-direction: column; 
  }
  .problems-view, .dim-factor-selection-div {
    min-width: 100%; 
  }
}

.problems-view {
  flex: 0 1 32%;
  min-width: 200px; 
}

.dq-problems-container {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 1rem; 
  background-color: #f9f9f9;
}

.dq-problems-container h4 {
  margin-bottom: 0.75rem; 
}

.dq-problems-list {
  list-style-type: none;  
}

.dq-problems-list li {
  margin-bottom: 1rem; 
}

.badge { 
  min-width: 54px;
  text-align: center; 
  margin-right: 0.5rem; 
}

.add-ctx-alert-tip {
  display: flex;
  align-items: center;
  max-width: 420px;
  font-size: 13.5px;
}

/* ===== LABELS ===== */
.label-title-problems {
  width: auto;
  margin-right: 8px;
  font-weight: 500;
  font-style: italic;
}

.label-value {
  max-width: 80%;
  font-weight: 700;
  white-space: nowrap; 
}

.label-selected-problem-title {
  font-weight: 700;
  font-size: 16px;
  margin-right: 8px;
}

.label-title-selection-ctx {
  font-size: 1rem;
}

.label-container-selected {
  display: flex;
  flex-direction: column;  
  gap: 4px; 
  font-size: 14px;  
}

.label-selected {
  display: flex;
  align-items: flex-start;
  padding-bottom: 16px;
  font-size: 15px;
}

.label-selected.label-dq-item {
  padding-bottom: 8px; 
}


.label-selected-dqelement {
  display: flex;
  align-items: flex-start; 
  font-size: 16px;
}

.dqmodel-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.label-name-selected {
  font-weight: 700;
  font-size: 17px; 
}

.label-problem-selected {
  font-weight: 700;
  font-size: 17px; 
  margin-right: 8px;
}

.label-name-dqmodel {
  font-weight: 700;
  font-size: 18px; 
}

.label-title-selected {
  width: auto;
  margin-right: 16px;
  font-weight: 500;
}

.dimensions-factors-selected-accordion-container .label-title-selected {
  width: 140px;
  margin-right: 20px;
}

.dqmodel-preview-details-container .label-title-selected {
  width: 150px;
  margin-right: 4px;
}

.label-title-selected-ctx {
  width: auto;
  margin-top: 10px;
  font-weight: 500;
}


.label-value-selected {
  max-width: 70%;
  font-weight: 400;
}

.label-problem-description {
  font-weight: 400;
  font-size: 15px;
}


.label-value-dim-from-problem {
  max-width: 70%;
  font-weight: 700;
}

.dqmodel-element-name {
  font-size: 16px;  
  font-weight: 400;
}

.dropdown {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 18px;
  width: 40%; 
}

.list-group {
  font-size: 300;
}

.modal.show {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal-header {
  position: relative;
}

.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.1rem;
  color: #999;
  cursor: pointer;
  outline: none;
}

.modal-header .close span {
  display: inline-block;
}

.modal-header .close:hover {
  color: #222;
}

.modal-body .form-group {
  margin-bottom: 16px;
}

.modal-body label {
  font-weight: 500;
  font-size: 14px;  
  margin-bottom: px;
}

.modal-body input {
  font-size: 0.875rem; 
  color: #222;
}

.container-dim-factors{
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  width: 90%;
}

.factors-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem;  
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-label {
  font-size: 15px;
  margin-left: 0.5rem; 
}

.dimension-selected .label-value {
  font-weight: 100; 
}

.form-check-input:checked + .form-check-label {
  font-weight: 700;
}

.add-custom-section {
  border-top: 1px solid #eee;
}

.form-control-sm {
  font-size: 0.875rem;
  height: calc(1.5em + 0.5rem + 2px);
}


.dq-problems-accordion-container {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 1rem;
}

.dq-problems-accordion-container-edit { 
  width: 640px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 1rem;
}

.ctx-and-problems-main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.ctx-components-selection-container,
.dq-problems-selection-container {
  flex: 1;
  min-width: 45%; 
  padding: 0.9rem;
}

@media (max-width: 1200px) {
  .main-container {
    flex-direction: column;
  }

  .ctx-components-selection-container,
  .dq-problems-selection-container {
    min-width: 100%; 
  }
}

.active-section {
  font-weight: 500;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 120%;
  left: 20%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 12px;
  width: 300px;
  max-width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  z-index: 1000;
  pointer-events: none;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  margin-bottom: 10px;
}

.subtitle-description[data-tooltip]::after {
  width: 400px;  
  white-space: normal;
  line-height: 1.4;
}

[data-tooltip]::after {
  max-width: 400px;  
}
