/* ===== ESTILOS GENERALES Y CONTENEDORES ===== */
.container {
  margin: auto;
  color: #222;
}

@media (min-width: 1200px) {
  .container {
    max-width: 86%; 
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 10px; 
  }

  .table-container {
    width: 100%; 
    overflow-x: auto;
  }

  .table {
    width: 100%; 
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px; 
  }

  
}

@media (max-width: 576px) {
  .container {
    padding: 0 8px; 
  }
  
  .title {
    font-size: 1.4rem;
  }
  
  .subtitle-description {
    font-size: 14px; 
  }
}


/* ===== BOTONES ===== */
.btn {
  font-size: 0.9rem;
  font-weight: 500;
}

.btn-light {
  background-color: #fff;
  color: #111;
  border: 1px solid #bbb;
  padding-left: 14px;
  padding-right: 14px;
}

.btn-light:hover {
  background-color: #222;
  color: #fff;
  border: 1px solid #222;
  padding-left: 14px;
  padding-right: 14px;
}

/* ===== TABLAS ===== */
table {
  font-size: 14.5px;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.table-active {
  background-color: #e9ecef !important;
}

.custom-thead th {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
}

.custom-thead th:nth-child(1) { width: 25%; }
.custom-thead th:nth-child(2) { width: 10%; }
.custom-thead th:nth-child(3) { width: 15%; }
.custom-thead th:nth-child(4) { width: 19%; }
.custom-thead th:nth-child(5) { width: 15%; }
.custom-thead th:nth-child(6) { width: 8%; }


.clickable-row:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.action-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pagination {
  margin-top: 20px;
}

.page-item.active .page-link {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

.page-link {
  color: #6c757d;
  cursor: pointer;
}

.page-link:hover {
  color: #495057;
  background-color: #f8f9fa;
}



/* Tooltip */
.project-name {
  position: relative;
  cursor: pointer; 
}

.project-name::after {
  content: attr(data-tooltip); 
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0; 
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none; /* Evita que el tooltip interfiera con el hover */
}

.project-name:hover::after {
  opacity: 1;
  visibility: visible;
}