
<div class="container my-4">

	<h2 class="title">Projects</h2>

  <div class="flex-container">
    <div class="section-container">
      <div class="dashboard-container p-3">

        <div class="table-container">
        <table class="table table-hover">
          <thead class="thead-dark custom-thead">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Creation date</th>
              <th scope="col">Context version</th>
              <th scope="col">DQ Model version</th>
              <th scope="col">Stage</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let project of paginatedProjects"
              
              [class.table-active]="project.id === selectedProject?.id"
              class="clickable-row"
            >
              <td class="project-name" [attr.data-tooltip]="project.description">{{ project.name }}</td>
              <td>{{ project.created_at | date:'MMM d, y' }}</td>
              <td>
                <span *ngIf="contextInfo[project.context]">
                  {{ contextInfo[project.context] }}
                </span>
                <span *ngIf="!contextInfo[project.context] && project.context">
                  {{ project.context }} <!-- Mostrar ID como fallback -->
                </span>
                <span *ngIf="!project.context">
                  -
                </span>
              </td>
              <td>
                <span *ngIf="dqModelInfo[project.dqmodel_version]">
                  {{ dqModelInfo[project.dqmodel_version] }} 
                </span>
                <span *ngIf="!dqModelInfo[project.dqmodel_version] && project.dqmodel_version">
                  {{ project.dqmodel_version }} <!-- Mostrar ID como fallback -->
                </span>
                <span *ngIf="!project.dqmodel_version">
                  -
                </span>
              <td>
                <!-- Condicional para mostrar el texto descriptivo según el stage -->
                <span *ngIf="project.current_stage?.stage === 'ST1'">ST1: Elicitation</span>
                <span *ngIf="project.current_stage?.stage === 'ST2'">ST2: Data Analysis</span>
                <span *ngIf="project.current_stage?.stage === 'ST3'">ST3: User Requirements Analysis</span>
                <span *ngIf="project.current_stage?.stage === 'ST4'">ST4: DQ Model Definition</span>
                <span *ngIf="project.current_stage?.stage === 'ST5'">ST5: DQ Measurement</span>
                <span *ngIf="project.current_stage?.stage === 'ST6'">ST6: DQ Assessment</span>
              </td>
              <td>
                <!-- Badge condicional según el estado -->
                <span *ngIf="project.current_stage?.status === 'TO_DO'" class="badge bg-secondary rounded-pill text-uppercase">
                   To Do
                </span>
                <span *ngIf="project.current_stage?.status === 'IN_PROGRESS'" class="badge bg-warning rounded-pill text-uppercase">
                   In Progress
                </span>
                <span *ngIf="project.current_stage?.status === 'DONE'" class="badge bg-success rounded-pill text-uppercase">
                   Done
                </span>
              </td>
              <td>
                <div class="action-items-container">
                  <button class="btn btn-sm btn-light mx-2" (click)="selectProject(project)">Select</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
  
        <!-- Paginación -->
        <nav aria-label="Page navigation" class="py-1">
          <ul class="pagination pagination-sm justify-content-end">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li
              class="page-item"
              *ngFor="let page of getPages()"
              [class.active]="page === currentPage"
            >
              <a class="page-link" (click)="changePage(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>