<div class="container my-4">
  <app-step-navigator 
    [pageStepTitle]="pageStepTitle" 
    [phaseTitle]="phaseTitle" 
    [stageTitle]="stageTitle" 
    [currentStep]="currentStep">
  </app-step-navigator>


  <div>
    <p class="subtitle-description mt-4">Define DQ Metrics given the DQ Factors added to the DQ Model</p>

    <div class="flex-container">
      <div class="suggested-section-container">
        <div class="dim-factor-selection-container">
          <div class="label-container">
            <!-- DQ Factor -->
            <div class="label">
              <label class="label-title">DQ Factor:</label>
              <!-- Select para elegir el factor -->
              <span class="label-value d-flex align-items-center">
                <select 
                  class="form-select select-style" 
                  [(ngModel)]="selectedFactor"
                  (change)="onFactorSelected()"
                >
                  <option value="" disabled>Select existing</option>
                  <option *ngFor="let factor of factorsByDim" [ngValue]="factor">
                    {{ factor.factor_name }}
                  </option>
                </select>
              </span>
            </div>
    
            <!-- Show Selected Factor -->
            <div *ngIf="selectedFactor !== null">
              <div class="label-container-selected py-2 px-4">
                <div class="label-selected">
                  <span class="label-name-selected">{{ selectedFactor.factor_name }}</span>
                </div>
                <div class="label-selected">
                  <label class="label-title-selected">Semantic:</label>
                  <span class="label-value-selected">{{ selectedFactor.baseAttributes.semantic }}</span>
                </div>
                <div class="label-selected">
                  <label class="label-title-selected">Facet of (DQ Dimension):</label>
                  <span class="label-value-selected">{{ dqDimension_facetOf }}</span>
                </div>
                <div class="label-selected">
                  <label class="label-title-selected">Arises from (Ctx. Components):</label>
                  <span class="label-value-selected">
                    <p>Ctx. Components:</p>
                    <ul>
                      <li *ngFor="let category of getContextComponentCategories(selectedFactor.context_components)">
                        {{ formatCategoryName(category) }}:
                        <ul>
                          <li *ngFor="let componentId of selectedFactor.context_components[category]">
                            <a href="javascript:void(0)" (click)="openContextComponentModal(category, componentId)">
                              {{ getFirstAttribute(category, componentId) }}
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </span>
                </div>

                <div class="label-selected">
                  <label class="label-title-selected">Based on (DQ Problems):</label>
                  <span class="label-value-selected">
                    <ul>
                      <li *ngFor="let problem of getDQProblemsDetails(selectedFactor.dq_problems)">
                        {{ problem.description }}
                      </li>
                    </ul>
                  </span>
                </div>

              </div>
            </div>

            <!-- Modal para mostrar los detalles del Ctx Component  -->
            <div class="modal fade" id="contextComponentModal" tabindex="-1" aria-labelledby="contextComponentModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="contextComponentModalLabel">Context Component</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <ul>
                      <li *ngFor="let key of selectedComponentKeys">
                        <strong>{{ formatCategoryName(key) }}:</strong> {{ selectedComponentDetails[key] }}
                      </li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

    
            <!-- DQ Metric (del Factor elegido) -->
            <div class="label mt-2">
              <label class="label-title">DQ Metric:</label>
              <span class="label-value d-flex align-items-center">
                <!-- Select para elegir la métrica -->
                <select 
                  class="form-select select-style" 
                  [(ngModel)]="selectedBaseMetric"
                  (change)="onBaseMetricSelected()"
                >
                  <option value="" disabled>Select existing</option>
                  <option *ngFor="let metric of selectedFactor?.baseMetrics" [ngValue]="metric">
                    {{ metric.name }}
                  </option>
                </select>
    
                <!-- Botón para crear una nueva métrica -->
                <button class="btn btn-light mx-2" (click)="openModalBase(selectedFactor)">Create</button>
              </span>
            </div>
    
            
            <!-- Show Selected Metric -->
            <div *ngIf="selectedBaseMetric" class="label-container-selected py-2 px-4">
              <div class="label-selected">
                <span class="label-name-selected">{{ selectedBaseMetric.name }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Purpose:</label>
                <span class="label-value-selected">{{ selectedBaseMetric.purpose }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Granularity:</label>
                <span class="label-value-selected">{{ selectedBaseMetric.granularity }}</span>
              </div>
              <div class="label-selected">
                <label class="label-title-selected">Result domain:</label>
                <span class="label-value-selected">{{ selectedBaseMetric.resultDomain }}</span>
              </div>

              <div class="label-selected">
                <label class="label-title-selected">Influenced by (Ctx. Components):</label>
                <span class="label-value-selected">
                  <!-- Vista de solo lectura (valores ya seleccionados) -->
                  <div >
                    <ul>
                      <li *ngFor="let category of getContextComponentCategories(selectionCheckboxCtxComponents)">
                        {{ formatCategoryName(category) }}:
                        <ul>
                          <li *ngFor="let component of getComponentsByCategory(selectionCheckboxCtxComponents, category)">
                            <a href="javascript:void(0)" (click)="openContextComponentModal(category, component.id)">
                              {{ component.value }}
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <button class="btn btn-light btn-sm mb-4" (click)="toggleCtxSelectionAccordionVisibility()">
                      <i *ngIf="!isEditingCtxComponents"></i>
                      <i *ngIf="isEditingCtxComponents" class="bi bi-eye-slash"></i>
                      {{ isEditingCtxComponents ? 'Hide' : 'Edit' }}
                    </button>
                  </div>
              
                  <!-- Vista de edición (acordeón) -->
                  <div *ngIf="isEditingCtxComponents" class="ctx-selection-accordion-container">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                      <div *ngFor="let category of categories; let i = index" class="accordion-item">
                        <h5 class="accordion-header" [id]="'panelsStayOpen-heading' + i">
                          <button
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#panelsStayOpen-collapse' + i"
                            [attr.aria-controls]="'panelsStayOpen-collapse' + i"
                            [attr.aria-expanded]="hasSelectedComponents(category) ? 'true' : 'false'"
                            [class.collapsed]="!hasSelectedComponents(category)"
                            style="padding: 0.1rem 0.9rem;"
                          >
                            {{ formatCategoryName(category) }}
                          </button>
                        </h5>
                        <div
                          [id]="'panelsStayOpen-collapse' + i"
                          class="accordion-collapse collapse"
                          [class.show]="hasSelectedComponents(category)"
                          [attr.aria-labelledby]="'panelsStayOpen-heading' + i"
                        >
                          <div class="accordion-body">
                            <div *ngFor="let item of allContextComponents[category]" class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                [id]="'checkbox-' + category + '-' + item.id"
                                [checked]="isComponentSelected(category, getFirstNonIdAttribute(item))"
                                (change)="onCtxComponentsCheckboxChange(item.id, category, getFirstNonIdAttribute(item), $event)"
                              />
                              <label class="form-check-label" [for]="'checkbox-' + category + '-' + item.id">
                                {{ getFirstNonIdAttribute(item) }}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </span>
              </div>           

            </div>

            <!-- Botón para agregar la métrica al modelo -->
            <div class="label mt-2">
              <button 
                class="btn btn-dark" 
                (click)="addMetricToModel(selectedFactor, selectedBaseMetric)"
                [disabled]="!selectedBaseMetric"
              >
                Add to DQ Model
              </button>
            </div>
    

          </div>
        </div>
      </div>
    
      <!-- Modal for Adding Base Metric -->
      <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalBaseOpen}" [style.display]="isModalBaseOpen ? 'block' : 'none'">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add new DQ Metric</h5>
              <button type="button" class="close" aria-label="Close" (click)="closeModalBase()">
                <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="MetName">Name</label>
                  <input type="text" name="MetName" [(ngModel)]="newBaseMetric.name" placeholder="Metric Name" class="form-control" [ngModelOptions]="{standalone: true}" />
                </div>
                <div class="form-group">
                  <label for="MetPurpose">Purpose</label>
                  <input type="text" name="MetPurpose" [(ngModel)]="newBaseMetric.purpose" placeholder="Metric Purpose" class="form-control" [ngModelOptions]="{standalone: true}" />
                </div>
                <div class="form-group">
                  <label for="MetGranularity">Granularity</label>
                  <input type="text" name="MetGranularity" [(ngModel)]="newBaseMetric.granularity" placeholder="It can be a Cell, Column, Row, a Relation or the Entire DB" class="form-control" [ngModelOptions]="{standalone: true}" />
                </div>
                <div class="form-group">
                  <label for="MetDomain">Domain</label>
                  <input type="text" name="MetDomain" [(ngModel)]="newBaseMetric.domain" placeholder="For example, a Boolean, an Integer, etc." class="form-control" [ngModelOptions]="{standalone: true}" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-light" (click)="closeModalBase()">Cancel</button>
              <button type="button" class="btn btn-sm btn-dark" (click)="addBaseMetric(selectedFactor)">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  
 

  <!-- SECTION: Show DQ Metrics added to DQ Model -->
  <div>
    <p class="subtitle-description mt-4">DQ Metrics added to DQ Model</p>
    <div class="flex-container">
      <div class="suggested-section-container">
        <div *ngIf="factorsByDim && factorsByDim.length">
          <div class="label-container-selected py-2 px-4">
            
            <div class="dqmodel-title">
              <span class="label-name-dqmodel">{{ currentDQModel.version }} (id: {{ project.dqmodel_version }})</span>
              <span *ngIf="currentDQModel.status === 'finished'" class="badge rounded-pill bg-dark">Finished</span>
              <span *ngIf="currentDQModel.status === 'draft'" class="badge rounded-pill bg-warning">Draft</span>
            </div>
            <!--<h5 class="mt-3">{{ currentDQModel.version }} </h5>-->
            <div class="label-selected">
              <label class="label-title-selected">Creation date:</label>
              <span class="label-value-selected">{{ currentDQModel.created_at | date:'MMM dd HH:mm yyyy' }}</span>
            </div> 
            <div class="label-selected">
              <label class="label-title-selected">Context version:</label>
              <span class="label-value-selected">CtxA v1.0 (id: {{ project.context_version }})</span>
            </div>  
            <div class="label-selected">
              <label class="label-title-selected">Data at hand:</label>
              <span class="label-value-selected">Dataset A</span>
            </div>
            <div class="label-selected">
              <label class="label-title-selected">DQ Factors:</label>

            </div>

            <div class="dimensions-factors-selected-accordion-container">
              <div class="accordion mx-3" id="accordionMetrics">
                <div class="accordion-item mb-2" *ngFor="let factor of factorsByDim; let i = index" style="border: 1px solid #dee2e6; border-radius: 5px; overflow: hidden;">
                  <h2 class="accordion-header" [id]="'factorHeading' + i">
                    <button
                      class="accordion-button"
                      [ngClass]="{ 'collapsed': !factor.expanded }"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#factorCollapse' + i"
                      [attr.aria-expanded]="factor.expanded"
                      [attr.aria-controls]="'factorCollapse' + i"
                      style="padding: 0.6rem 0.9rem;">
                      <span>
                        <label class="label-title">DQ Factor:</label>
                        <span class="dimension-name">{{ factor.factor_name }}</span>
                      </span>
                    </button>
                  </h2>
                  <div
                    [id]="'factorCollapse' + i"
                    class="accordion-collapse collapse"
                    [class.show]="factor.expanded"
                    [attr.aria-labelledby]="'factorHeading' + i">
                    <div class="accordion-body">
                      <div class="label-selected">
                        <label class="label-title-selected">Semantic:</label>
                        <span class="label-value-selected">{{ factor.baseAttributes.semantic }}</span>
                      </div>

                      <div class="label-selected">
                        <label class="label-title-selected">Arises from (Ctx. Components):</label>
                        <span class="label-value-selected">
                            <ul>
                                <li *ngFor="let category of getContextComponentCategories(factor.context_components)">
                                    {{ formatCategoryName(category) }}:
                                    <ul>
                                        <li *ngFor="let componentId of factor.context_components[category]">
                                            <a href="javascript:void(0)" (click)="openContextComponentModal(category, componentId)">
                                                {{ getFirstAttribute(category, componentId) }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </span>
                      </div>

                      <div class="label-selected">
                        <label class="label-title-selected">DQ Metrics:</label>
                      </div>
                      
                      <!-- Verificar si hay métricas definidas -->
                      <div *ngIf="factor.definedMetrics && factor.definedMetrics.length > 0; else noMetrics">
                        <!-- Accordion METRICS -->
                        <div class="accordion mx-3 mb-2" [id]="'metricAccordion' + i">
                          <div 
                            class="accordion-item" 
                            *ngFor="let metric of factor.definedMetrics; let j = index" >
                            <h2 class="accordion-header" [id]="'metricHeading' + i + '-' + j">
                              <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#metricCollapse' + i + '-' + j"
                                aria-expanded="false"
                                [attr.aria-controls]="'metricCollapse' + i + '-' + j"
                                style="padding: 0.6rem 0.9rem;">
                                <span>
                                  <label class="label-title">DQ Metric:</label>
                                  <span *ngIf="metric.baseAttr" class="dimension-name">{{ metric.baseAttr.name }}</span>
                                </span>
                              </button>
                            </h2>
                            <div
                              [id]="'metricCollapse' + i + '-' + j"
                              class="accordion-collapse collapse"
                              [attr.aria-labelledby]="'metricHeading' + i + '-' + j"
                              [attr.data-bs-parent]="'#metricAccordion' + i">
                              <div class="accordion-body">
                                <ng-container *ngIf="metric.baseAttr; else noData">
                                  <div class="label-selected">
                                    <label class="label-title-selected">Semantic:</label>
                                    <span class="label-value-selected">{{ metric.baseAttr.purpose }}</span>
                                  </div>
                                  <div class="label-selected">
                                    <label class="label-title-selected">Granularity:</label>
                                    <span class="label-value-selected">{{ metric.baseAttr.granularity }}</span>
                                  </div>
                                  <div class="label-selected">
                                    <label class="label-title-selected">Result domain:</label>
                                    <span class="label-value-selected">{{ metric.baseAttr.resultDomain }}</span>
                                  </div>

                                  <div class="label-selected">
                                    <label class="label-title-selected">Influenced by (Ctx. Components):</label>
                                    <span class="label-value-selected">
                                        <ul>
                                            <li *ngFor="let category of getContextComponentCategories(metric.context_components)">
                                                {{ formatCategoryName(category) }}:
                                                <ul>
                                                    <li *ngFor="let componentId of metric.context_components[category]">
                                                        <a href="javascript:void(0)" (click)="openContextComponentModal(category, componentId)">
                                                            {{ getFirstAttribute(category, componentId) }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </span>
                                  </div>

                      
                                  <div class="mt-3">
                                    <button (click)="deleteMetric(factor, metric)" class="btn btn-outline-danger btn-sm">Remove</button>
                                  </div>
                                  <div class="mt-3">
                                    <button  class="btn btn-light btn-sm">Edit</button>
                                  </div>
                                </ng-container>
                                <ng-template #noData>
                                  <p>No hay datos disponibles para esta metrica.</p>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <!-- Mensaje cuando no hay métricas definidas -->
                      <ng-template #noMetrics>
                        <p class="text-muted mx-4">No quality metrics have been defined for this factor.</p>
                      </ng-template>

                      
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </div>
    </div>
  </div>


  <div class="next-step-btn-container">
    <button (click)="saveMetrics()" class="btn btn-dark">Next ></button>
  </div>
</div>