<div class="container my-4">
  <h2 class="title">Stage 4: DQ Model Definition</h2>
  <h2 class="title-activity">Definicion de Metricas</h2>
  <p class="title-description">Cree las metricas asociadas a los factores seleccionados</p>

  <div class="container-section">


  <div class="d-flex justify-content-center">
    <div class="w-100">
      <div cdkDropList>
        <div *ngFor="let factor of qualityFactors">
          <h3>{{ factor.name }}</h3>
          <div>
            <table class ="table ">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Purpose</th>
                  <th>Granularity</th>
                  <th>Domain</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td><input type="text" [(ngModel)]="factor.newMetric.name" placeholder="Metric Name" /></td>
                <td><input type="text" [(ngModel)]="factor.newMetric.purpose" placeholder="Metric Purpose" /></td>
                <td><select [(ngModel)]="factor.newMetric.granularity" class="form-select">
                  <option *ngFor="let granularity of granularities" [value]="granularity">{{ granularity }}</option>
                </select></td>
                <td><select [(ngModel)]="factor.newMetric.domain" class="form-select">
                  <option *ngFor="let domain of domains" [value]="domain">{{ domain }}</option>
                </select></td>
                <td><button class="btn btn-dark btn-sm" (click)="addMetric(factor)">Add Metric</button></td>
              </tr>
              </tbody>
            </table>   
          </div>
          <table class="table ">
            <thead>
              <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Granularity</th>
                <th>Domain</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let metric of factor.definedMetrics">
                <td>{{ metric.name }}</td>
                <td>{{ metric.purpose }}</td>
                <td>{{ metric.granularity }}</td>
                <td>{{ metric.domain }}</td>
                <td><button class="btn btn-outline-danger btn-sm" (click)="deleteMetric(factor, metric)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>        
      </div>
      <div>
        <button (click)="saveMetrics()" class="btn btn-primary btn-sm">Confirmar Metricas</button>
      </div>
    </div>
  </div>

</div>
</div>
