
<div class="container my-4">
	<app-step-navigator 
		[pageStepTitle]="pageStepTitle" 
		[phaseTitle]="phaseTitle" 
		[stageTitle]="stageTitle" 
		[steps]="steps"
		[currentStep]="currentStep">
	</app-step-navigator>

	<!--<div *ngIf="completeDQModel && !isLoading">-->
	<div>
		<p class="subtitle-description mt-4">Defined DQ Model preview. Confirm or edit it by returning to a previous step</p>
		<div class="flex-container">
			<div class="section-container" >
				<div *ngIf="completeDQModel && !isLoading" class="label-container-selected py-2 px-4">
					<div class="dqmodel-title">
						<span class="label-name-dqmodel">{{ completeDQModel.model.version }} (id: {{ project.dqmodel_version }})</span>
						<span *ngIf="completeDQModel.model.status === 'finished'" class="badge rounded-pill bg-dark">Finished</span>
						<span *ngIf="completeDQModel.model.status === 'draft'" class="badge rounded-pill bg-warning">Draft</span>
					</div>
					<div class="label-selected">
						<label class="label-title-selected">Creation date:</label>
						<span class="label-value-selected">{{ completeDQModel.model.created_at | date:'MMM dd HH:mm yyyy' }}</span>
					</div>
					<div class="label-selected">
						<label class="label-title-selected">Context version:</label>
						<span class="label-value-selected">CtxA v1.0 (id: {{ project.context_version }})</span>
					</div>
					<div class="label-selected">
						<label class="label-title-selected">Data at hand:</label>
						<span class="label-value-selected"> {{ dataAtHandDetails.description }} ({{ dataAtHandDetails.dbname }}) <a href="javascript:void(0)" (click)="dataAtHandModal.openModal()" style="text-decoration: none;">
								<i class="bi bi-zoom-in"></i>
							</a>
						</span>
						<!--<span class="label-value-selected" (click)="openDataSchemaModal()" style="cursor: pointer;">
							Data at Hand Id: {{ project?.data_at_hand }} <i class="bi bi-zoom-in"></i>
						</span>-->
						<!--<span class="label-value-selected">Data at Hand Id: {{ project.data_at_hand }}</span>-->
					</div>
					<div class="label-selected">
						<label class="label-title-selected">DQ Dimensions:</label>
					</div>
	
					<!-- Accordion DIMENSIONS -->
					<div class="dimensions-factors-selected-accordion-container">
						<div class="accordion mx-3" id="accordionDimensions">
							<div class="accordion-item mb-2" *ngFor="let dimension of completeDQModel.dimensions; let i = index"
							style="border: 1px solid #dee2e6; border-radius: 5px; overflow: hidden;">
								<h2 class="accordion-header" [id]="'heading' + i">
										<button
											class="accordion-button collapsed" 
											type="button"
											data-bs-toggle="collapse"
											[attr.data-bs-target]="'#collapse' + i"
											aria-expanded="false" 
											[attr.aria-controls]="'collapse' + i"
											style="padding: 0.6rem 0.9rem;"
										>
										<span>
											<label class="label-title">DQ Dimension:</label>
											<span class="dimension-name">{{ dimension.dimension_name }}</span>
										</span>
									</button>
								</h2>
								<div 
									[id]="'collapse' + i" 
									class="accordion-collapse collapse" 
									[attr.aria-labelledby]="'heading' + i"
								>
									<div class="accordion-body">
										<div class="label-selected">
											<label class="label-title-selected">Semantic:</label>
											<span class="label-value-selected">{{ dimension.attributesBase?.semantic }}</span>
										</div>

										<div class="label-selected">
											<label class="label-title-selected">Ctx (Suggested by):</label>
											<span class="label-value-selected">
												<ul>
													<li *ngFor="let category of getContextComponentCategories(dimension.context_components)">
														{{ formatCategoryName(category) }}:
														<ul>
															<li *ngFor="let componentId of dimension.context_components[category]">
																{{ getFirstAttribute(category, componentId) }}
																<a href="javascript:void(0)" (click)="openContextComponentModal(category, componentId)" style="text-decoration: none;">
																	<i class="bi bi-zoom-in"></i> 
																</a>
															</li>
														</ul>
													</li>
												</ul>
											</span>
										</div>


										<div class="label-selected">
											<label class="label-title-selected">DQ Problems (Used):</label>
											<span class="label-value-selected">
												<ul>
													<li *ngFor="let problem of dimension.dq_problems_details">
														{{ problem.description }}
													</li>
												</ul>
											</span>
										</div>

										<div class="label-selected">
											<label class="label-title-selected">DQ Factors:</label>
										</div>
		
										<!-- Accordion FACTORS -->
										<div class="accordion mx-3 mb-2" [id]="'factorAccordion' + i">
											<div class="accordion-item" *ngFor="let factor of dimension.factors; let j = index">
												<h2 class="accordion-header" [id]="'factorHeading' + i + '-' + j">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#factorCollapse' + i + '-' + j" aria-expanded="false" [attr.aria-controls]="'factorCollapse' + i + '-' + j">
														<span>
															<label class="label-title">DQ Factor:</label>
															<span class="dimension-name">{{ factor.factor_name }}</span>
														</span>
													</button>
												</h2>
												<div [id]="'factorCollapse' + i + '-' + j" class="accordion-collapse collapse" [attr.aria-labelledby]="'factorHeading' + i + '-' + j" [attr.data-bs-parent]="'#factorAccordion' + i">
													<div class="accordion-body">
														<div class="label-selected">
															<label class="label-title-selected">Semantic:</label>
															<span class="label-value-selected">{{ factor.attributesBase?.semantic }}</span>
														</div>

														<div class="label-selected">
															<label class="label-title-selected">Ctx (Arises from):</label>
															<span class="label-value-selected">
																<ul>
																	<li *ngFor="let category of getContextComponentCategories(factor.context_components)">
																		{{ formatCategoryName(category) }}:
																		<ul>
																			<li *ngFor="let componentId of factor.context_components[category]">
																				{{ getFirstAttribute(category, componentId) }}
																				<a href="javascript:void(0)" (click)="openContextComponentModal(category, componentId)" style="text-decoration: none;">
																					<i class="bi bi-zoom-in"></i> 
																				</a>
																			</li>
																		</ul>
																	</li>
																</ul>
															</span>
														</div>


														<div class="label-selected">
															<label class="label-title-selected">DQ Problems (Used):</label>
															<span class="label-value-selected">
																<ul>
																	<li *ngFor="let problem of factor.dq_problems_details">
																		{{ problem.description }}
																	</li>
																</ul>
															</span>
														</div>

														<div class="label-selected">
															<label class="label-title-selected">DQ Metrics:</label>
														</div>
		
														<!-- Accordion METRICS -->
														<div class="accordion mx-3 mb-2" [id]="'metricAccordion' + i + '-' + j">
															<div class="accordion-item" *ngFor="let metric of factor.metrics; let k = index">
																<h2 class="accordion-header" [id]="'metricHeading' + i + '-' + j + '-' + k">
																	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#metricCollapse' + i + '-' + j + '-' + k" aria-expanded="false" [attr.aria-controls]="'metricCollapse' + i + '-' + j + '-' + k">
																		<span>
																			<label class="label-title">DQ Metric:</label>
																			<span class="dimension-name">{{ metric.metric_name }}</span>
																		</span>
																	</button>
																</h2>
																<div [id]="'metricCollapse' + i + '-' + j + '-' + k" class="accordion-collapse collapse" [attr.aria-labelledby]="'metricHeading' + i + '-' + j + '-' + k" [attr.data-bs-parent]="'#metricAccordion' + i + '-' + j">
																	<div class="accordion-body">
																		<div class="label-selected">
																			<label class="label-title-selected">Purpose:</label>
																			<span class="label-value-selected">{{ metric.attributesBase?.purpose }}</span>
																		</div>
																		<div class="label-selected">
																			<label class="label-title-selected">Granularity:</label>
																			<span class="label-value-selected">{{ metric.attributesBase?.granularity }}</span>
																		</div>
																		<div class="label-selected">
																			<label class="label-title-selected">Result domain:</label>
																			<span class="label-value-selected">{{ metric.attributesBase?.resultDomain }}</span>
																		</div>
																		<div class="label-selected">
																			<label class="label-title-selected">DQ Methods:</label>
																		</div>

																		<!-- Accordion METHODS -->
																		<div class="accordion mx-3 mb-2" [id]="'methodAccordion' + i + '-' + j + '-' + k">
																			<div class="accordion-item" *ngFor="let method of metric.methods; let l = index">
																				<h2 class="accordion-header" [id]="'methodHeading' + i + '-' + j + '-' + k + '-' + l">
																					<button
																						class="accordion-button collapsed"
																						type="button"
																						data-bs-toggle="collapse"
																						[attr.data-bs-target]="'#methodCollapse' + i + '-' + j + '-' + k + '-' + l"
																						aria-expanded="false"
																						[attr.aria-controls]="'methodCollapse' + i + '-' + j + '-' + k + '-' + l"
																					>
																						<span>
																							<label class="label-title">DQ Method:</label>
																							<span class="dimension-name">{{ method.method_name }}</span>
																						</span>
																					</button>
																				</h2>
																				<div
																					[id]="'methodCollapse' + i + '-' + j + '-' + k + '-' + l"
																					class="accordion-collapse collapse"
																					[attr.aria-labelledby]="'methodHeading' + i + '-' + j + '-' + k + '-' + l"
																					[attr.data-bs-parent]="'#methodAccordion' + i + '-' + j + '-' + k"
																				>
																					<div class="accordion-body">
																						<div class="label-selected">
																							<label class="label-title-selected">Input data type:</label>
																							<span class="label-value-selected">{{ method.attributesBase?.inputDataType }}</span>
																						</div>
																						<div class="label-selected">
																							<label class="label-title-selected">Output data type:</label>
																							<span class="label-value-selected">{{ method.attributesBase?.outputDataType }}</span>
																						</div>
																						<div class="label-selected">
																							<label class="label-title-selected">Algorithm:</label>
																							<span class="code-block">
																								<pre><code>{{ method.attributesBase?.algorithm }}</code></pre>
																							</span>
																						</div>
																						<div class="label-selected">
																							<label class="label-title-selected">Applied DQ Methods:</label>
																						</div>

																						<!-- Applied Methods: Measurements -->
																						<div *ngIf="method.applied_methods[0]?.measurements?.length > 0">
																							<div class="accordion mt-2 mx-3" [id]="'measurementAccordion' + i + '-' + j + '-' + k + '-' + l">
																								<div class="accordion-item" *ngFor="let measurement of method.applied_methods[0].measurements; let m = index">
																									<h2 class="accordion-header" [id]="'measurementHeading' + i + '-' + j + '-' + k + '-' + l + '-' + m">
																										<button
																											class="accordion-button collapsed"
																											type="button"
																											data-bs-toggle="collapse"
																											[attr.data-bs-target]="'#measurementCollapse' + i + '-' + j + '-' + k + '-' + l + '-' + m"
																											aria-expanded="false"
																											[attr.aria-controls]="'measurementCollapse' + i + '-' + j + '-' + k + '-' + l + '-' + m"
																										>
																											<span>
																												<label class="label-title-applied-methods">Measurement DQ Method:</label>
																												<span class="dimension-name">{{ measurement.name }}</span>
																											</span>
																										</button>
																									</h2>
																									<div
																										[id]="'measurementCollapse' + i + '-' + j + '-' + k + '-' + l + '-' + m"
																										class="accordion-collapse collapse"
																										[attr.aria-labelledby]="'measurementHeading' + i + '-' + j + '-' + k + '-' + l + '-' + m"
																										[attr.data-bs-parent]="'#measurementAccordion' + i + '-' + j + '-' + k + '-' + l"
																									>
																										<div class="accordion-body">
																											<div class="label-selected">
																												<label class="label-title-selected">Applied to:</label>
																												<span class="label-value-selected">
																													<div *ngFor="let table of getAppliedToDisplay(measurement.appliedTo)" 
																															 class="table-display">
																														Table: {{ table.tableName }}<br>
																														Columns: {{ table.columns.join(', ') }}
																													</div>
																												</span>
																											</div>
																											
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>

																						<!-- Applied Methods: Aggregations -->
																						<div *ngIf="method.applied_methods[0]?.aggregations?.length > 0">
																							<div class="accordion mt-3 mb-2 mx-3" [id]="'aggregationAccordion' + i + '-' + j + '-' + k + '-' + l">
																								<div class="accordion-item" *ngFor="let aggregation of method.applied_methods[0].aggregations; let n = index">
																									<h2 class="accordion-header" [id]="'aggregationHeading' + i + '-' + j + '-' + k + '-' + l + '-' + n">
																										<button
																											class="accordion-button collapsed"
																											type="button"
																											data-bs-toggle="collapse"
																											[attr.data-bs-target]="'#aggregationCollapse' + i + '-' + j + '-' + k + '-' + l + '-' + n"
																											aria-expanded="false"
																											[attr.aria-controls]="'aggregationCollapse' + i + '-' + j + '-' + k + '-' + l + '-' + n"
																										>
																											<span>
																												<label class="label-title-applied-methods">Aggregation DQ Method:</label>
																												<span class="dimension-name">{{ aggregation.name }}</span>
																											</span>
																										</button>
																									</h2>
																									<div
																										[id]="'aggregationCollapse' + i + '-' + j + '-' + k + '-' + l + '-' + n"
																										class="accordion-collapse collapse"
																										[attr.aria-labelledby]="'aggregationHeading' + i + '-' + j + '-' + k + '-' + l + '-' + n"
																										[attr.data-bs-parent]="'#aggregationAccordion' + i + '-' + j + '-' + k + '-' + l"
																									>
																										<div class="accordion-body">
																											<div class="label-selected">
																												<label class="label-title-selected">Applied To:</label>
																												<span class="label-value-selected">
																													<div *ngFor="let table of getAppliedToDisplay(aggregation.appliedTo)" 
																															 class="table-display">
																														Table: {{ table.tableName }}<br>
																														Columns: {{ table.columns.join(', ') }}
																													</div>
																												</span>
																											</div>


																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="d-flex gap-2 mt-2">
						<button class="btn btn-dark btn-sm mt-3" (click)="openConfirmDQModelModal()">Confirm DQ Model</button>
						<button class="btn btn-info btn-sm mt-3" (click)="generatePdf()">DQ Model Report PDF</button>
					</div>

				</div>
			
			

			</div>
		</div>
	</div>


<app-data-at-hand-view-modal
  #dataAtHandModal
  [dataAtHandDetails]="dataAtHandDetails"
  [dataSchema]="dataSchema">
</app-data-at-hand-view-modal>

<app-context-component-view-modal
  #contextComponentModal
  [selectedComponentKeys]="selectedComponentKeys"
  [selectedComponentDetails]="selectedComponentDetails">
</app-context-component-view-modal>
	
<app-modal
  [isOpen]="isConfirmDQModelModalOpen"
  [title]="'Confirm DQ Model Finalization'"
  [message]="confirmDQModelMessage"
  (close)="onConfirmDQModelModalClose()">
</app-modal>

<app-modal
  [isOpen]="isConfirmDQModelModalOpen"
  [title]="'Confirm DQ Model Finalization'"
  [message]="confirmDQModelMessage"
  (close)="onConfirmDQModelModalClose()">
  
  <!-- Botones personalizados para el modal de confirmación -->
  <div class="d-flex gap-2 mt-2">
      <button type="button" class="btn btn-sm btn-light" (click)="onConfirmDQModelModalClose()">Cancel</button>
      <button type="button" class="btn btn-sm btn-dark" (click)="confirmationFinishedDQModel()">Confirm</button>
  </div>
</app-modal>

<!-- Botones personalizados para el modal de confirmación -->
<div class="d-flex gap-2 mt-2">
	<button type="button" class="btn btn-sm btn-light" (click)="onConfirmDQModelModalClose()">Cancel</button>
	<button type="button" class="btn btn-sm btn-dark" (click)="confirmationFinishedDQModel()">Confirm</button>
</div>


<app-stepper
  [currentStep]="currentStep"
  [totalSteps]="steps.length"
  [isNextStepEnabled]="isNextStepEnabled"
  (stepChange)="onStepChange($event)"
  (completeStage)="onCompleteStage()">
</app-stepper>