/*
body{
  background-color: #fdfdfd;
}

.full-width{
  max-width: none;
  max-height: none;
  background-color: #fafafa;
}

.container {
  margin: auto;
  color: #222; 
  
}*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: #222;
}

.section-container {
  width: 100%;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

@media (min-width: 1200px) {
  .container {
    max-width: 86%; 

  }
}

@media (max-width: 850px) {
  .section-container {
    padding-inline: 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px; 
  }

  .section-container {
    padding-inline: 0;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 8px; /* Mínimo padding en pantallas muy pequeñas */
  }

  .section-container {
    padding-inline: 0;
    /*padding-block: 14px;*/
  }
  
  .title {
    font-size: 1.4rem; /* Reduce tamaño de título en móviles */
  }
  
  .subtitle-description {
    font-size: 14px; /* Reduce tamaño de subtítulo en móviles */
  }
}

@media (max-width: 768px) {
  .label-selected {
    flex-direction: column;
    align-items: flex-start;
  }

  .label-title-selected,
  .label-value-selected {
    width: 100%;
  }

  .label-title-selected {
    margin-bottom: 2px; 
  }
}

.container-section {
  /*width: 98%;*/
  /*border: 1px solid #ddd; */
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff; 
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;  
}

.table {
  font-size: 0.875rem; 
}

.table tbody tr td {
  color: #222; 
}

.table th {
  font-size: 0.78rem;  
  color: #444; 
  font-weight: bold;  
}

.title {
  font-size: 1.2rem;
  font-weight: black;
  font-style: italic;
}

.title-activity {
  font-size: 1.5rem;
	font-weight: lighter;
}

.title-description {
  font-size: 0.95rem;
  font-style: italic;
}

.subtitle-description {
  font-size: 0.95rem;
  font-style: italic;
  /*margin-top: 20px;*/
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.details-container {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #f9f9f9;
}

.details-container h3 {
  font-size: 1.2rem;
}

.details-container p, .details-container ul {
  font-size: 0.9rem;
}

.details-container ul {
  list-style-type: none;
  padding-left: 0;
}

.details-container li {
  margin-bottom: 0.5rem;
}

.go-back {
  margin-bottom: 10px;
}

.go-back-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  color: #888;
}

.go-back-link {
  font-size: 16px;
  color: #888;
  text-decoration: none;
}

.priority-high .bi-circle-fill {
  color: #942e2e; 
}

.priority-medium .bi-circle-fill {
  color: #d8c246; 
}

.priority-low .bi-circle-fill {
  color: #3d773d;  
}

.problem-name {
  font-size: 1.4rem;
}

.selected-problem-item {
  /*border: 1px solid #ddd; */
  background-color: #f9f9f9; 
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;  
}

.subtitle {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #333;
  margin-top: 20px;
}

.subtitle-selected {
  font-size: 1.2rem;
  color: #333;
  margin-top: 20px;
}

.subtitle-problem {
  font-size: 1.2rem;
  color: #333;
}

.dimensions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  
}

.dimension-box {
  flex: 1;
  min-width: 180px; 
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  /*background-color: #f5f5f5;*/
  font-size: 0.875rem; 
  border: 1px solid #ddd;
}

.dimension-box h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

hr.my-4 {
  border: none;
  border-top: 1px solid #fff; 
  margin: 2rem 0;
}


.context-list, .factors-list {
  list-style-type: none; 
  padding-left: 0;
}

.context-list li, .factors-list li {
  margin-bottom: 0.5rem;
}

.btn {
	font-size: 0.9rem;
  font-weight: 500;
  /*border-radius: 8px;*/
}
.btn-dark {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #111; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-dark:hover {
  background-color: #333; 
  border: 1px solid #333; 
}

.btn-light {
  background-color: #fff; 
  color: #111; 
  border: 1px solid  #111; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-light:hover {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #222; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-add-added {
  min-width: 92px;
}

.next-step-btn-container{
	display: flex;
  justify-content: flex-end; 
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}



.suggested-section-container {
  width: 98%;
  border: 1px solid #ddd; 
  background-color: #fff; 
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;  
}

.label-container {
  display: flex;
  flex-direction: column; /* Coloca cada par de label y value en una nueva línea */
  gap: 4px; /* Espacio entre cada fila */
  font-size: 16px;  
  font-weight: 500;
}

.label {
  display: flex; /* Permite que el título y el valor estén en línea */
  align-items: center; /* Centra verticalmente el contenido */
}

.label-title {
  width: 120px;
}

.label-title-applied-methods {
  width: auto; 
  font-weight: 500;
}


.label-value {
  max-width: 80%;
  font-weight: 700;
}

.align-center {
  display: flex;
  align-items: center; /* Centra verticalmente solo este elemento */
}

/*Selected */
.label-container-selected {
  display: flex;
  flex-direction: column;  
  gap: 4px; 
  font-size: 14px;  
}




/* Estilo con mayor especificidad */
.label-selected {
  display: flex;
  align-items: flex-start;
  padding-bottom: 16px;
  font-size: 15px;
}


.label-selected.label-dq-item {
  padding-bottom: 8px; 
}

.label-name-selected {
  font-weight: 700;
  font-size: 16px; 
}

.label-title-selected {
  width: 18%;
  /*width: 150px;
  margin-right: 10px;*/
  /*margin-left: 10px;*/
}

.label-value-selected {
  width: 82%;/*
  max-width: 76%;*/
  font-weight: 400;
}

.dimensions-factors-selected-accordion-container .label-title-selected {
  /*width: 140px;*/
  margin-right: 20px;
}


.dq-model-element-container{
  width: 96%;
  border: 1px solid  #ddd; 
  /*border: 1px solid #eeeeee;*/
  background-color: #fafafa;
  /*background-color: #f8f8f8;*/
  border-radius: 0px;  
  padding: 6px 12px 6px 12px;
  cursor: pointer;
}


.dqmodel-element-name {
  font-size: 16px;  
  font-weight: 400;
}


.dropdown {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 18px;
  width: 40%; /* Para que el dropdown tome todo el ancho del botón */
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f1f1f1;
}

.btn {
	font-size: 0.9rem;
  font-weight: 500;
  /*border-radius: 8px;*/
}
.btn-dark {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #111; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-dark:hover {
  background-color: #333; 
  border: 1px solid #333; 
}

.btn-light {
  background-color: #fff; 
  color: #111; 
  border: 1px solid  #bbb; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-light:hover {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #222; 
	padding-left: 14px;
	padding-right: 14px;
}




.modal.show {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal-header {
  position: relative;
}

.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.1rem;
  color: #999;
  cursor: pointer;
  outline: none;
}

.modal-header .close span {
  display: inline-block;
}

.modal-header .close:hover {
  color: #222;
}

.modal-body .form-group {
  margin-bottom: 16px;
}

.modal-body label {
  font-weight: 500;
  font-size: 14px;  
  margin-bottom: 4px;
}

.modal-body input {
  font-size: 0.875rem; 
}




.code-block {
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  max-width: 500px; /* Ancho máximo del bloque */
  width: 100%; /* Permite que el bloque ocupe el 100% hasta el max-width */
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap; /* Mantiene los saltos de línea */
  tab-size: 3;
}


/*-----------------------------*/

.container {
  margin: auto;
  color: #222;
}

.table {
  font-size: 0.875rem;
}

.table tbody tr td {
  color: #222;
}

.table th {
  font-size: 0.78rem;
  color: #444;
  font-weight: bold;
}

.title {
  font-size: 1.2rem;
  font-weight: black;
  font-style: italic;
}

.title-activity {
  font-size: 1.5rem;
  font-weight: lighter;
}

.title-description {
  font-size: 0.95rem;
  font-style: italic;
}

.subtitle-description {
  font-size: 16px;
  font-style: italic;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.details-container {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #f9f9f9;
}

.details-container h3 {
  font-size: 1.2rem;
}

.details-container p, .details-container ul {
  font-size: 0.9rem;
}

.details-container ul {
  list-style-type: none;
  padding-left: 0;
}

.details-container li {
  margin-bottom: 0.5rem;
}

.go-back {
  margin-bottom: 10px;
}

.go-back-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  color: #888;
}

.go-back-link {
  font-size: 16px;
  color: #888;
  text-decoration: none;
}

.priority-high .bi-circle-fill {
  color: #942e2e;
}

.priority-medium .bi-circle-fill {
  color: #d8c246;
}

.priority-low .bi-circle-fill {
  color: #3d773d;
}

.problem-name {
  font-size: 1.4rem;
}

.selected-problem-item {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #333;
  margin-top: 20px;
}

.subtitle-selected {
  font-size: 1.2rem;
  color: #333;
  margin-top: 20px;
}

.subtitle-problem {
  font-size: 1.2rem;
  color: #333;
}

.dimensions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.dimension-box {
  flex: 1;
  min-width: 180px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  font-size: 0.875rem;
  border: 1px solid #ddd;
}

.dimension-box h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

hr.my-4 {
  border: none;
  border-top: 1px solid #fff;
  margin: 2rem 0;
}

.from-ctx-components-title {
  font-weight: 500;
}

.ctx-selection-accordion-container {
  max-width: 640px;
}

.dimensions-factors-selected-accordion-container{
  max-width: 100%;
}

.accordion-button {
  height: 34px;
}

.accordion-button:not(.collapsed) {
  background-color: #f9f9f9;
  color: inherit;
}

.context-list, .factors-list {
  list-style-type: none;
  padding-left: 0;
}

.context-list li, .factors-list li {
  margin-bottom: 0.5rem;
}

.hidden-checkbox {
  display: none;
}

.select-style {
  width: 440px;
  font-size: 0.9rem;
  font-weight: 500;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #bbb;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #111;
  cursor: pointer;
}

.select-style-problems {
  width: auto;
  max-width: 440px;
  font-size: 0.9rem;
  font-weight: 500;
  padding-left: 14px;
  padding-right: 34px;
  border: 1px solid #bbb;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #111;
  cursor: pointer;
}

.select-style-ctx {
  width: 300px;
  font-size: 0.9rem;
  font-weight: 500;
  padding-left: 14px;
  padding-right: 40px;
  border: 1px solid #bbb;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #111;
  cursor: pointer;
}

.select-style:focus {
  border-color: #aaa;
  box-shadow: none;
}

.select-style:hover {
  border-color: #aaa;
}

.btn {
  font-size: 0.9rem;
  font-weight: 500;
}

.btn-dark {
  background-color: #222;
  color: #fff;
  border: 1px solid #111;
  padding-left: 14px;
  padding-right: 14px;
}

.btn-dark:hover {
  background-color: #333;
  border: 1px solid #333;
}

.btn-light {
  background-color: #fff;
  color: #111;
  border: 1px solid #bbb;
  padding-left: 14px;
  padding-right: 14px;
}

.btn-light:hover {
  background-color: #222;
  color: #fff;
  border: 1px solid #222;
  padding-left: 14px;
  padding-right: 14px;
}

.next-step-btn-container {
  display: flex;
  justify-content: flex-end;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.from-scratch-section-container {
  width: 100%;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  padding: 2rem 1.8rem 2rem 2rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.dim-factor-selection-div {
  flex: 1;
  min-width: 60%;
}

.dim-factor-selection-container {
  padding: 0.85rem 1rem 1rem 1.2rem;
}

@media (max-width: 400px) {
  .from-scratch-section-container {
    flex-direction: column;
  }
  .problems-view, .dim-factor-selection-div {
    min-width: 100%;
  }
}

.problems-view {
  flex: 0 1 32%;
  min-width: 200px;
}

.dq-problems-container {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f9f9f9;
}

.dq-problems-container h4 {
  margin-bottom: 0.75rem;
}

.dq-problems-list {
  list-style-type: none;
}

.dq-problems-list li {
  margin-bottom: 1rem;
}

.badge {
  min-width: 54px;
  text-align: center;
  margin-right: 0.5rem;
}

.suggested-section-container {
  width: 100%;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}



.label-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
}

.label {
  display: flex;
  align-items: center;
}

.label-title {
  width: 120px;
  font-weight: 500;
}

.label-title-name {
  font-weight: 700;
}

.label-title-problems {
  width: auto;
  margin-right: 8px;
  font-weight: 500;
  font-style: italic;
}

.label-value {
  max-width: 80%;
  font-weight: 700;
  white-space: nowrap;
}

.label-selected-problem-title {
  font-weight: 700;
  font-size: 17px;
  margin-right: 8px;
}



.label-container-selected {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

/*.label-selected {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  font-size: 15px;
}*/

.label-selected-dqelement {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
}

.dqmodel-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.label-name-selected {
  font-weight: 700;
  font-size: 17px;
}

/*
.label-problem-selected {
  font-weight: 700;
  font-size: 17px;
  margin-right: 8px;
}*/

.label-name-dqmodel {
  font-weight: 700;
  font-size: 18px;
}

.label-title-selected {
  width: 140px;
  margin-right: 10px;
  font-weight: 500;
}

.label-title-selected-ctx {
  width: auto;
  margin-top: 10px;
  font-weight: 500;
  font-style: italic;
}
/*
.label-value-selected {
  max-width: 70%;
  font-weight: 400;
}*/

.label-problem-description {
  font-weight: 400;
  font-size: 15px;
}

.label-value-dim-from-problem {
  max-width: 70%;
  font-weight: 700;
}

.dqmodel-element-name {
  font-size: 16px;
  font-weight: 400;
}

.dropdown {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 18px;
  width: 40%;
}

.modal.show {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal-header {
  position: relative;
}

.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.1rem;
  color: #999;
  cursor: pointer;
  outline: none;
}

.modal-header .close:hover {
  color: #222;
}

.modal-body .form-group {
  margin-bottom: 16px;
}

.modal-body input {
  font-size: 0.875rem;
  color: #222;
}

.container-dim-factors {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  width: 90%;
}

.factors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-label {
  font-size: 16px;
  margin-left: 0.5rem;
}

.form-check-input:checked + .form-check-label {
  font-weight: 700;
}

.add-custom-section {
  border-top: 1px solid #eee;
}

.form-control-sm {
  font-size: 0.875rem;
  height: calc(1.5em + 0.5rem + 2px);
}

.dq-problem-container {
  padding: 1rem;
}

.suggested-section-div {
  padding: 1rem;
}

/* Card flotante */
.dq-card {
  font-size: 13px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  width: 230px;
  border-radius: 8px;
  z-index: 10;
}

.dq-card h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.dq-card-body {
  padding: 1rem;
}

.dq-card-close {
  position: absolute;
  top: 4px;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #aaa;
}


.custom-modal-position .modal-dialog {
  transform: translateY(-20%); /* Ajusta el valor según lo que necesites */
}


/* Estilos para la tabla */
/*.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
  padding: 8px;
}*/


.algorithm-container {
  background-color: #fafafa; 
  border-radius: 4px;
  padding: 12px;
  margin-left: 22px; /* Aseguramos que no tenga margen izquierdo */
  width: calc(100% - 32px); /* 100% menos el padding */
  max-width: 85%; 
  overflow: visible; /* Elimina la barra de desplazamiento */
  white-space: pre-wrap; /* Permite que el texto se ajuste manteniendo la indentación */
  word-wrap: break-word; /* Rompe palabras largas si es necesario */
  border: 1px solid #dee2e6; 
}

/* Estilos para el código del algoritmo */
.algorithm-code {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  color: #212529;
  line-height: 1.4;
  white-space: pre-wrap; /* Mantiene la indentación pero permite saltos de línea */
  word-break: break-all; /* Asegura que el contenido largo se rompa adecuadamente */
}

@media (max-width: 768px) {
  .algorithm-container {
    max-width: 100%; 
  }
}

code {
  color: #212529;
}

