/* ===== ESTILOS GENERALES Y CONTENEDORES ===== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: #222;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.container-section {
  width: 100%;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff; 
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;  
}

@media (min-width: 1200px) {
  .container {
    max-width: 86%; 
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px; 
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 8px; 
  }
  
  .title {
    font-size: 1.4rem; 
  }
  
  .subtitle-description {
    font-size: 14px; 
  }
}

/* ===== TABLAS ===== */
.table {
  font-size: 15px;
}

.table tbody tr td {
  color: #222; 
}

.table td {
  vertical-align: middle; 
}

.table th {
  font-weight: 500;  
}

.badge {
  min-width: 50px;
}

/* ===== BOTONES ===== */
.btn {
	font-size: 0.9rem;
  font-weight: 500;
}

.btn-dark {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #111; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-dark:hover {
  background-color: #333; 
  border: 1px solid #333; 
}

.btn-light {
  background-color: #fff; 
  color: #111; 
  border: 1px solid #bbb; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-light-add {
  background-color: #fff; 
  color: #000; 
  border: 1px solid #bbb; 
	padding-left: 10px;
	padding-right: 10px;
}

.btn-light-add:hover {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #222; 
}

.btn-light:hover {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #222; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-add-added {
  min-width: 92px;
}

.next-step-btn-container{
	display: flex;
  justify-content: flex-end; 
}

/* ===== CONTENEDORES DQ PROBLEMS ===== */
.problems-main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 8px;
  width: 100%;
  box-sizing: border-box;
}

.dq-problems-selection-container {
  flex: 1; /* Ambas secciones ocupan el mismo espacio */
  min-width: 40%; 
  padding: 0 1rem; 
}

.dq-problems-accordion-container {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 0.2rem;
  min-height: 200px;
  overflow-y: auto; /* Solo scroll vertical */
  overflow-x: hidden; /* Evita el scroll horizontal */
  height: 640px;
  box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}


@media (max-width: 1020px) {
  .main-container {
    flex-direction: column; /* Las secciones se apilan verticalmente */
  }

  .dq-problems-selection-container {
    min-width: 100%; /* Ocupan el 100% del ancho en pantallas pequeñas */
  }
}

/* ===== COMPONENTES DE TEXTO ===== */
.card-title{
  font-size: 15px; 
}

.card-text{
  font-size: 14px; 
}

.empty-message {
  text-align: center;
  color: #666;
  font-style: italic;
  padding: 20px;
  font-size: 14px;
}

.empty-message i {
  margin-right: 8px;
  color: #888;
}