/* You can add global styles to this file, and also import other style files */
body {
  background-color: #a83a3a;
}



.subtitle-description {
  font-size: 16px;
  font-style: italic;
}

.section-container {
  width: 100%;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.flex-container {
  display: flex;
  justify-content: center;
}


