.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: #222;
}

@media (min-width: 1200px) {
  .container {
    max-width: 86%; 

  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px; 
  }
  
}

@media (max-width: 576px) {
  .container {
    padding: 0 8px; /* Mínimo padding en pantallas muy pequeñas */
  }
  
  .title {
    font-size: 1.4rem; /* Reduce tamaño de título en móviles */
  }
  
  .subtitle-description {
    font-size: 14px; /* Reduce tamaño de subtítulo en móviles */
  }
}

.subtitle-description {
  font-size: 16px;
  font-style: italic;
}

.section-container {
  width: 100%;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.flex-container {
  display: flex;
  justify-content: center;
}

/* Accordion Views */
.divider {
  border-top: 1px solid #eeeeee;
  margin: 0.5rem 0;
  margin-bottom: 1rem;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.bullets {
  padding-left: 10px;
  margin-left: 10px;
}

