.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: #222;
}

@media (min-width: 1200px) {
  .container {
    max-width: 86%; 

  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px; 
  }
  
}

@media (max-width: 576px) {
  .container {
    padding: 0 8px; /* Mínimo padding en pantallas muy pequeñas */
  }
  
  .title {
    font-size: 1.4rem; /* Reduce tamaño de título en móviles */
  }
  
  .subtitle-description {
    font-size: 14px; /* Reduce tamaño de subtítulo en móviles */
  }
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 0.4rem;
  margin-bottom: 1rem;
}

.subtitle-description {
  font-size: 16px;
  font-style: italic;
}

.section-container {
  width: 100%;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}


.flex-container {
  display: flex;
  justify-content: center;
}



/* ---------- */

.label {
  display: flex; 
  align-items: center;
}

.label-selected {
  display: flex;
  align-items: flex-start;
  padding-bottom: 16px;
  font-size: 15px;
}

.label-container {
  display: flex;
  flex-direction: column; 
  gap: 4px;  
  font-size: 16px;  
  font-weight: 500;
}

.label-container-selected {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}


.dqmodel-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.label-name-dqmodel {
  font-weight: 700;
  font-size: 18px;
}

/* Item colapsable Tipo-Titulo */
.label-title {
  width: 120px;
  font-weight: 500;
}

.label-title-name {
  font-weight: 700;
}


.divider {
  border-top: 1px solid #eeeeee;
  margin: 0.5rem 0;
  margin-bottom: 1rem;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.bullets {
  padding-left: 10px;
  margin-left: 10px;
}

/* ===== BOTONES ===== */
.btn {
  font-size: 0.9rem;
  font-weight: 500;
}

.btn-dark {
  background-color: #222;
  color: #fff;
  border: 1px solid #111;
  padding-left: 14px;
  padding-right: 14px;
}

.btn-dark:hover {
  background-color: #333;
  border: 1px solid #333;
}

.btn-light {
  background-color: #fff; 
  color: #111; 
  border: 1px solid #bbb; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-light:hover {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #222; 
	padding-left: 14px;
	padding-right: 14px;
}