<div class="container my-4">
  <app-step-navigator 
		[pageStepTitle]="pageStepTitle" 
		[phaseTitle]="phaseTitle" 
		[stageTitle]="stageTitle" 
    [steps]="steps"
		[currentStep]="currentStep">
	</app-step-navigator>

  <p class="subtitle-activity">Classify DQ problems by assigning each one a priority level</p>

  <div class="flex-container" style="margin-bottom: 80px;">
    <div class="container-section ">

      <!-- INFO MESSAGES -->
      <div class="px-4">
        <div *ngIf="currentDQModel?.status === 'draft'" class="alert alert-light mb-4 mt-4 d-flex align-items-start">
          <i class="bi bi-info-circle me-2 mt-1"></i>
          <div>
            Drag and drop DQ problems into High, Medium, or Low priority columns.
          </div>
        </div>
       
        <div class="alert alert-info mb-4 mt-4 d-flex align-items-start">
          <i class="bi bi-info-circle me-2 mt-1"></i>
          <div *ngIf="currentDQModel?.status === 'draft'">Prioritization must be very careful, as wrong prioritization of DQ problems can result in a DQ model
            not representative of the relevant DQ problems of the organization. Proper prioritization helps identify key DQ dimensions and factors.
          </div>
          <div *ngIf="currentDQModel?.status === 'finished'">Proper prioritization of DQ Problems helps identify key DQ dimensions and factors.
          </div>
        </div>

      </div>
        

      <div class="py-3 px-4 me-3 d-flex justify-content-center">
        <div class="w-100">
          <ng-container cdkDropListGroup>
          <div class="row">
            <!-- High priority -->
            <div class="col-md-4">
              <h6 class="mb-3">High Priority</h6>
              <div
                cdkDropList
                id="high-priority"
                [cdkDropListData]="highPriorityProblems"
                [cdkDropListConnectedTo]="[mediumPriorityId, lowPriorityId]"
                (cdkDropListDropped)="drop($event)"
                class="priority-list"
              >
                <div>
                  <div *ngIf="highPriorityProblems.length === 0" class="empty-message">
                    <i class="bi bi-info-circle"></i> No high priority DQ problems.
                  </div>
                  <div *ngFor="let problem of highPriorityProblems" cdkDrag>
                    <div class="card mb-2">
                      <div class="card-body">
                        <h5 class="card-title">{{ problem.description }}</h5>
                        <p class="card-text">{{ problem.date | date:'dd MMM yyyy' }} <span class="badge bg-danger rounded-pill mx-1">High</span></p>
                        <select [(ngModel)]="problem.priority"  (change)="onPriorityChange(problem)" class="form-select">
                          <option value="High">High</option>
                          <option value="Medium">Medium</option>
                          <option value="Low">Low</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            <!-- Medium priority -->
            <div class="col-md-4">
              <h6 class="mb-3">Medium Priority</h6>
              <div
                cdkDropList
                id="medium-priority"
                [cdkDropListData]="mediumPriorityProblems"
                [cdkDropListConnectedTo]="[highPriorityId, lowPriorityId]"
                (cdkDropListDropped)="drop($event)"
                class="priority-list"
              >
                <div>
                  <div *ngIf="mediumPriorityProblems.length === 0" class="empty-message">
                    <i class="bi bi-info-circle"></i> No medium priority DQ problems.
                  </div>
                  <div *ngFor="let problem of mediumPriorityProblems" cdkDrag>
                    <div class="card mb-2">
                      <div class="card-body">
                        <h5 class="card-title">{{ problem.description }}</h5> 
                        <p class="card-text">{{ problem.date | date:'dd MMM yyyy' }} <span class="badge bg-warning rounded-pill mx-1">Medium</span></p>
                        
                        <select [(ngModel)]="problem.priority"  (change)="onPriorityChange(problem)" class="form-select">
                          <option value="High">High</option>
                          <option value="Medium">Medium</option>
                          <option value="Low">Low</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            <!-- Low priority -->
            <div class="col-md-4">
              <h6 class="mb-3">Low Priority</h6>
              <div
                cdkDropList
                id="low-priority"
                [cdkDropListData]="lowPriorityProblems"
                [cdkDropListConnectedTo]="[highPriorityId, mediumPriorityId]"
                (cdkDropListDropped)="drop($event)"
                class="priority-list"
              >
                <div>
                  <div *ngIf="lowPriorityProblems.length === 0" class="empty-message">
                    <i class="bi bi-info-circle"></i> No low priority DQ problems.
                  </div>
                  <div *ngFor="let problem of lowPriorityProblems" cdkDrag>
                    <div class="card mb-2">
                      <div class="card-body">
                        <h5 class="card-title">{{ problem.description }}</h5>
                        <p class="card-text">{{ problem.date | date:'dd MMM yyyy' }} <span class="badge bg-success rounded-pill mx-1">Low</span></p>
                        <select [(ngModel)]="problem.priority"  (change)="onPriorityChange(problem)" class="form-select">
                          <option value="High">High</option>
                          <option value="Medium">Medium</option>
                          <option value="Low">Low</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="currentDQModel?.status === 'draft'" class="text-start mt-2 mb-2">
              <button (click)="openSaveConfirmationModal()" class="btn btn-dark btn-sm">Save Prioritization</button>
            </div>

          </div>
          </ng-container>
        </div>
      </div>
    
    </div>
  </div>


  <div class="next-step-btn-container">
    <button (click)="nextStep()" class="btn btn-dark btn-sm">Next ></button>
  </div>

</div>

 <!-- Modal de confirmación -->
 <app-confirmation-modal
 [isOpen]="isConfirmationModalOpen"
 [title]="confirmationModalTitle"
 [message]="confirmationModalMessage"
 (confirm)="handleConfirm()"
 (cancel)="handleCancel()">
</app-confirmation-modal>



<app-context-components></app-context-components>

<app-stepper
  [currentStep]="currentStep"
  [totalSteps]="steps.length"
  [isNextStepEnabled]="isNextStepEnabled"
  (stepChange)="onStepChange($event)">
</app-stepper>

