.container {
  /*max-width: 86%;*/
  margin: auto;
  color: #222;    
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
}

.flex-container {
  display: flex;
  justify-content: center;
}

.suggested-section-container {
  width: 100%;
  /*border: 1px solid #ddd; */
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff; 
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;  
}



.title {
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 0.4rem;
  margin-bottom: 1rem;
}

.subtitle-description {
  font-size: 16px;
  font-style: italic;
}


.add-new-card {
  width: 40%;
  cursor: pointer;
  margin: 20px 0;
  padding: 40px;
  border: 2px dashed #007bff;
  transition: background-color 0.3s ease;
}

.add-new-card:hover {
  background-color: #f8f9fa;
}

.modal.show {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040; 
}

.modal-header {
  position: relative;
}

.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  color: #999;
  cursor: pointer;
  outline: none;
}

.modal-header .close span {
  display: inline-block;
}

.modal-header .close:hover {
  color: #222;
}

.modal-body .form-group {
  margin-bottom: 15px;
}

.modal-body label {
  font-size: 0.78rem;  
  color: #444; 
  font-weight: bold;  
}

.modal-body input {
  font-size: 0.875rem; 
  color: #222;
}

.label-container-selected {
  display: flex;
  flex-direction: column;  
  gap: 4px; 
  font-size: 14px;  
}

.label-selected {
  display: flex;
  align-items: flex-start; 
  padding-bottom: 16px;
  font-size: 15px;
}

.project-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.label-name-project {
  font-weight: 700;
  font-size: 18px; 
}

.label-title-selected {
  width: 140px;
  margin-right: 10px;
  font-weight: 500;
}

.btn {
	font-size: 0.9rem;
  font-weight: 500;
}

.btn-dark {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #111; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-dark:hover {
  background-color: #333; 
  border: 1px solid #333; 
}

.btn-light {
  background-color: #fff; 
  color: #111; 
  border: 1px solid #bbb; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-light:hover {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #222; 
	padding-left: 14px;
	padding-right: 14px;
}

.custom-modal {
  margin-top: 100px; 
}


/* Estilos para la tabla */
.table-hover tbody tr:hover {
  background-color: #f8f9fa; /* Color de fondo al hacer hover */
  cursor: pointer; /* Cambia el cursor a una mano */
}

/* Estilo para la fila seleccionada */
.table-active {
  background-color: #e9ecef !important; /* Color de fondo para la fila seleccionada */
}

/* Añadir un efecto de sombra al hacer hover */
.clickable-row:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sutil sombra */
  transition: box-shadow 0.2s ease-in-out; /* Transición suave */
}


/* Estilos para los botones de acciones */
.action-items-container {
  display: flex; /* Usamos flexbox para alinear los íconos */
  justify-content: space-between; /* Separa los íconos */
  align-items: center; /* Centra los íconos verticalmente */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.action-icon {
  font-size: 16px; /* Ajusta el tamaño de los íconos */
  color: #727272; /* Cambia el color a un azul, puedes usar el color que desees */
  cursor: pointer; /* Cambia el cursor para indicar que son interactivos */
}

.action-icon:hover {
  color: #3a3a3a; /* Cambia el color al pasar el mouse */
}

/* Estilos para la paginación */
.pagination {
  margin-top: 20px;
}

/* Cambiar el color de la página activa a gris */
.page-item.active .page-link {
  background-color: #6c757d; /* Gris de Bootstrap */
  border-color: #6c757d; /* Gris de Bootstrap */
  color: white; /* Texto en blanco para mejor contraste */
}

/* Estilo para los enlaces de paginación */
.page-link {
  color: #6c757d; /* Gris de Bootstrap */
  cursor: pointer; /* Efecto de pointer */
}

/* Efecto hover para los enlaces de paginación */
.page-link:hover {
  color: #495057; /* Gris más oscuro al hacer hover */
  background-color: #f8f9fa; /* Fondo claro al hacer hover */
}
