/* ===== CONTENEDORES Y ESTRUCTURA ===== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: #222;
}

@media (min-width: 1200px) {
  .container {
    max-width: 86%; 

  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px; 
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 8px; 
  }
  
  .title {
    font-size: 1.4rem; 
  }
  
  .subtitle-description {
    font-size: 14px; 
  }
}

.project-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}


/* ===== COMPONENTES DE MODAL ===== */
.modal.show {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040; 
}

.modal-header {
  position: relative;
}

.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  color: #999;
  cursor: pointer;
  outline: none;
}

.modal-header .close span {
  display: inline-block;
}

.modal-header .close:hover {
  color: #222;
}

.modal-body .form-group {
  margin-bottom: 15px;
}

.modal-body label {
  font-size: 0.78rem;  
  color: #444; 
  font-weight: bold;  
}

.modal-body input {
  font-size: 0.875rem; 
  color: #222;
}

.custom-modal {
  margin-top: 100px; 
}


/* ===== LABELS ===== */
.label-container-selected {
  display: flex;
  flex-direction: column;  
  gap: 4px; 
  font-size: 14px;  
}

.label-selected {
  display: flex;
  align-items: flex-start; 
  padding-bottom: 16px;
  font-size: 15px;
}

.label-name-project {
  font-weight: 700;
  font-size: 18px; 
}

.label-title-selected {
  width: 18%;
  font-weight: 500;
}

.label-value {
  width: 82%;
}

@media (max-width: 900px) {
  .label-selected {
    flex-direction: column;
    align-items: flex-start;
  }

  .label-title-selected,
  .label-value {
    width: 100%;
  }

  .label-title-selected {
    margin-bottom: 2px; 
  }
}


/* ===== BOTONES ===== */
.btn {
	font-size: 0.9rem;
  font-weight: 500;
}

.btn-dark {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #111; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-dark:hover {
  background-color: #333; 
  border: 1px solid #333; 
}

.btn-light {
  background-color: #fff; 
  color: #111; 
  border: 1px solid #bbb; 
	padding-left: 14px;
	padding-right: 14px;
}

.btn-light:hover {
  background-color: #222; 
  color: #fff; 
  border: 1px solid  #222; 
	padding-left: 14px;
	padding-right: 14px;
}