<div class="container my-4">
  <h2 class="title">Phase 2: DQ Assessment</h2>
  <p class="subtitle-description">
    In this phase, the DQ model is defined and, based on it, the quality of the data at hand is measured and assessed.
  </p>

  <div class="flex-container">
    <div class="suggested-section-container">
      <!-- CURRENT PROJECT DETAILS -->
      <ng-container *ngIf="project; else noProject">
        <div class="label-container-selected py-2 px-4">
          <div class="project-title">
            <span class="label-name-project">{{ project.name }}</span>
            <span *ngIf="project.status === 'to_do'" class="badge bg-secondary">{{ project.stage }}: To Do</span>
            <span *ngIf="project.status === 'in_progress'" class="badge bg-secondary">{{ project.stage }}: In Progress</span>
            <span *ngIf="project.status === 'done'" class="badge bg-secondary">{{ project.stage }}: Done</span>
          </div>
          <div class="label-selected">
            <label class="label-title-selected">Description: </label>
            <span class="label-value-selected">{{ project.description }}</span>
          </div>
          <div class="label-selected">
            <label class="label-title-selected">Creation date: </label>
            <span class="label-value-selected">{{ project.created_at | date:'medium' }}</span>
          </div>
          <div class="label-selected">
            <label class="label-title-selected">Context version: </label>
            <span class="label-value-selected">Ctx Id: {{ project.context_version }}</span>
          </div>
          <div class="label-selected" *ngIf="project.dqmodel_version !== null">
            <label class="label-title-selected">DQ Model version: </label>
            <span class="label-value-selected">DQ Model Id: {{ project.dqmodel_version }}</span>
          </div>
          <div class="label-selected">
            <label class="label-title-selected">Data at hand:</label>
            <span class="label-value-selected">Dataset A</span>
          </div>
          <div class="label-selected">
            <label class="label-title-selected">Stage:</label>
            <span class="label-value-selected">{{ project.stage }}: DQ Model Definition ({{ project.status }})</span>
          </div>
          <div class="label-selected">
            <label class="label-title-selected">Status:</label>
            <span class="label-value-selected">{{ project.status }}</span>
          </div>

          <!-- Botón "Close Project" reutilizable -->
          <ng-template #closeProjectButton>
            <button class="btn btn-light btn-sm mt-2 mx-2" (click)="closeProject()">
              Close Project
            </button>
          </ng-template>

          <!-- Buttons according to Project and DQ Model Status -->
          <div *ngIf="project.dqmodel_version === null">
            <button class="btn btn-light btn-sm mt-2" (click)="createDQModel()">
              Create DQ Model
            </button>
            <ng-container *ngTemplateOutlet="closeProjectButton"></ng-container>
          </div>

          <div *ngIf="project.dqmodel_version !== null && project.status !== 'done'">
            <button class="btn btn-dark btn-sm mt-2" (click)="navigateToResumeDQModel()">
              Resume DQ Model
            </button>
            <ng-container *ngTemplateOutlet="closeProjectButton"></ng-container>
          </div>

          <div *ngIf="project.dqmodel_version !== null && project.status === 'done'">
            <button class="btn btn-dark btn-sm mt-2" (click)="navigateToViewDQModel()">
              View DQ Model
            </button>
            <button class="btn btn-light btn-sm mt-2 mx-3" (click)="openConfirmationModal('newProject')">
              New DQ Model
            </button>
            <ng-container *ngTemplateOutlet="closeProjectButton"></ng-container>
          </div>
        </div>
      </ng-container>

      <!-- Mensaje si no se encuentra el proyecto -->
      <ng-template #noProject>
        <p class="card-text">{{ noProjectMessage }}</p>
      </ng-template>

      <!-- Modal -->
      <div id="confirmationModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modal" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ modalTitle }}</h5>
              <button type="button" class="close" (click)="closeConfirmationModal()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p [innerHTML]="modalMessage"></p>
            </div>
            <div class="modal-footer">
              <div *ngIf="showNewProjectButtons">
                <button type="button" class="btn btn-sm btn-light mx-2" (click)="openConfirmationModal('create')">DQ Model from Scratch</button>
                <button type="button" class="btn btn-sm btn-light mx-2" (click)="openConfirmationModal('edit')">New DQ Model Version</button>
              </div>
              <div *ngIf="!showNewProjectButtons">
                <button type="button" class="btn btn-sm btn-light mx-2" (click)="closeConfirmationModal()">Cancel</button>
                <button type="button" class="btn btn-sm btn-dark mx-2" (click)="confirmAction()">Confirm</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>