.step-navigator {
  font-size: 1rem; 
  font-weight: 500;
  display: flex; 
  align-items: center;
  color: #888;
}

.step-list {
  list-style-type: none;
  display: inline-flex; 
  padding: 0; 
  margin: 0;
  margin-left: 8px; 
  font-weight: 400;
}

.step-list li {
  /*margin-right: 6px; */
}

.step-list li a {
  text-decoration: none; 
  color: rgb(136, 136, 136); 
  transition: color 0.3s; 
  text-decoration: underline;
}

.step-list li a:hover {
  font-weight: 600; 
  
}

.step-list li.active a {
  font-weight: 600; 
  text-decoration: none;
}


.title-step {
  font-size: 1.6rem;
  font-weight: 500;
	padding-top: 0.5rem;
  margin-bottom: 1.3rem;
}

.icon {
  font-size: 0.8rem; 
  padding: 0 4px 0 4px;
}