<!-- Modal para mostrar detalles del componente de contexto -->
<div class="modal fade" id="contextComponentModal" tabindex="-1" aria-labelledby="contextComponentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contextComponentModalLabel">Context Component</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="no-bullets">
          <li *ngFor="let key of selectedComponentKeys">
            <span class="fw-medium">{{ formatCategoryName(key) }}:</span> {{ selectedComponentDetails[key] }}
          </li>
        </ul>
      </div>
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>